{% extends "dashboard/theme.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'dashboard/vendor/libs/select2/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/vendor/libs/@form-validation/form-validation.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/vendor/libs/dropzone/dropzone.css' %}" />


{% endblock css %}

{% block body %}

<div class="content-wrapper">
            <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="card mb-6">
      <h5 class="card-header">New Organization</h5>
      <form class="card-body" id="formAuthentication" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="row g-6">
          <div class="col-md-6">
            <div class="row g-6">
              <div class="col-md-6">
                <label class="form-label" for="id_name">Name
                    <span>*</span>
                </label>
                <input id="id_name" name="name" class="form-control" required/>

              </div>
              <div class="col-md-6">
                <label class="form-label" for="id_location">Location
                    <span>*</span>
                </label>
                <input id="id_location" name="location" class="form-control" required/>

              </div>
              <div class="col-md-6">
                <label class="form-label" for="id_contact">Contact
                    <span>*</span>
                </label>
                <input name="contact" type="number" placeholder="0" id="id_contact" min="0" class="form-control" required/>
              </div>
              <div class="col-md-6">
                <label for="id_email" class="form-label">Email
                    <span>*</span>
                </label>
                <input id="id_email" name="email" class="form-control" required/>

              </div>
              <div class="col-md-6">
                <label class="form-label" for="id_website">Website URL</label>
                <input id="id_website" name="website" class="form-control"/>

              </div>
            </div>
          </div>
        </div>

        <div class="pt-6">
          <button type="submit" class="btn btn-primary me-4">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>



{% endblock body %}


{% block js %}

    <script src="{% static 'dashboard/vendor/libs/select2/select2.js' %}"></script>
    <script src="{% static 'dashboard/js/forms-selects.js' %}"></script>
    <script src="{% static 'dashboard/vendor/libs/@form-validation/popular.js' %}"></script>
    <script src="{% static 'dashboard/vendor/libs/@form-validation/bootstrap5.js' %}"></script>
    <script src="{% static 'dashboard/vendor/libs/@form-validation/auto-focus.js' %}"></script>
<!--    <script src="{% static 'dashboard/vendor/libs/dropzone/dropzone.js' %}"></script>-->
    <script src="{% static 'dashboard/js/forms-file-upload.js' %}"></script>
    <script src="{% static 'dashboard/js/job_opening_create.js' %}"></script>



{% endblock js %}