{% extends "screening/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'dashboard/vendor/libs/select2/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/vendor/libs/bootstrap-select/bootstrap-select.css' %}" />
{% endblock css %}

{% block content %}
<button onclick="window.history.back()" type="button" class="btn btn-outline-primary mb-2">
    <span class="ti-xs ti ti-chevron-left me-2"></span>Back
</button>
<div class="card">
    <div class="card-datatable p-5">
        <div class="d-flex justify-content-between">
            <h5 id="datatable-title" class="card-title mb-0">Screening Results for {{ job_opening.designation }}</h5>
            <button class="approve-all-btn btn btn-outline-success p-2 mb-2 me-2" data-job_opening_id="{{ job_opening.id }}">
                <i class="ti ti-check"></i>
                Accept All
            </button>
        </div>
        <table class="datatables-basic table">
              <thead>
                <tr>
                  <th>Actions</th>
                  <th>Name</th>

                <th>Experience (years)</th>
                <th>Skills (%)</th>

                </tr>
              </thead>
              <tbody>
              {% if candidates %}
                {% for candidate in candidates %}
                <tr data-id="{{candidate.id}}" data-job_opening_id="{{job_opening.id}}">
                    <td>
                        <button class="approve-btn btn btn-outline-success p-1" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Move to Initial Stage">
                            <i class="ti ti-check"></i>
                        </button>
                        <button class="reject-btn btn btn-outline-danger p-1" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Reject">
                            <i class="ti ti-x"></i>
                        </button>

                    </td>

                    <td><a href="{% url 'candidate-analysis' candidate.id %}?job_opening_id={{ job_opening.id }}">{{candidate.name}}</a></td>

                    <td>{{ candidate.experience }}</td>
                    <td>{{ candidate.analysis_for_resume.skills_matching.match }}</td>

                </tr>
                {% endfor %}
              {% else %}
                <tr>
                    <td colspan="4" class="text-center">No candidates match minimum experience of {{ job_opening.min_experience }} years, or required matching skills criteria >= {{ job_opening.skills_criteria }}%.</td>
                </tr>
              {% endif %}
              </tbody>
            </table>
    </div>
</div>

{% endblock content %}

{% block js %}
<!--    <script src="{% static 'dashboard/js/tables-datatables-basic.js' %}"></script>-->
    <script src="{% static 'dashboard/js/forms-selects.js' %}"></script>
    <script src="{% static 'dashboard/vendor/libs/bootstrap-select/bootstrap-select.js' %}"></script>
    <script src="{% static 'dashboard/vendor/js/dropdown-hover.js' %}"></script>
    <script src="{% static 'dashboard/js/form-input-group.js' %}"></script>
    <script src="{% static 'dashboard/js/screening.js' %}"></script>
{% endblock js %}
