{% extends "dashboard/theme.html" %}
{% load static %}
{% block css %}


{% endblock css %}

{% block body %}
<!-- Success Page -->
<div class="content-wrapper">
            <!-- Content -->

  <div class="container-xxl bg-gradient flex-grow-1 container-p-y d-flex justify-content-center vh-auto">

    <div class="card w-60 mt-5">
      <div class="text-center p-5">
        <!-- Success Icon -->
        <div class="rounded-circle d-flex justify-content-center align-items-center mx-auto bg-white">
            <i class="ti ti-rosette-discount-check text-success fs-1"></i>
        </div>
        <!-- Success Header -->
        <h3 class="text-success mb-3">Success!</h3>
        <!-- Success Message -->
        <p class="lead text-dark mb-4">Well done! You've successfully applied for the <strong>{{ job_opening.designation }}</strong> role.</p>
        <p class="lead text-dark mb-4">Our team is excited to review your application and will be in touch shortly with the next steps.</p>
    </div>

</div>
  </div>
</div>
{% endblock body %}

{% block js %}


{% endblock js %}
