{% extends "dashboard/theme.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'dashboard/vendor/libs/select2/select2.css' %}" />
<link rel="stylesheet" href="{% static 'dashboard/vendor/libs/@form-validation/form-validation.css' %}" />
{% endblock css %}

{% block body %}
<div class="content-wrapper">
<div class="container-xxl flex-grow-1 container-p-y align-items-center">
    <div class="card mb-6 shadow-lg border-light">
        <h3 class="card-header bg-primary text-white text-center py-3">Apply for {{ job_opening.designation }}</h3>
        <div class="card-body">
            <div class="row">
                <!-- Job Information Section -->
                <div class="col-md-3 my-4">
                    <div class="p-3 border rounded border-light">
                        <h4>Job Information</h4>
                        <hr class="border-light">
                        <p><strong>Company Name:</strong>
                            {% if client %}
                                {{ client.name }}
                            {% else %}
                                {{ company.name }}
                            {% endif %}
                        </p>
                        <p><strong>Required Skills:</strong> {% for skill in required_skills %}{{ skill }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                        {% if job_description_file %}
                            <p><strong>Job Description:</strong> <a href="{{ job_description_file.url }}" target="_blank" class="btn btn-outline-primary btn-sm">{{ job_description_file.url }}</a></p>
                        {% elif job_description_text %}
                            <p><strong>Job Description:</strong> {{ job_description_text }}</p>
                        {% else %}
                            <p><strong>Job Description:</strong> Not provided</p>
                        {% endif %}
                        <p><strong>Job Type:</strong> {{ job_type }}</p>
                        <p><strong>Job Mode:</strong> {{ job_mode }}</p>
                    </div>
                </div>
                <!-- Vertical Dotted Line -->
                <!-- <div class="col-md-1 d-flex justify-content-center align-items-center my-3">
                    <div class="border-right border-light" style="height: 100%; border-right-style: dotted;"></div>
                </div> -->
                <!-- File Upload Section -->
                <div class="col-md-9 my-4">
                    <div class="p-3 border rounded border-light">
                        <form id="formAuthentication" enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            <p>Upload resume to parse data into form</p>
                            <div class="mb-3">
                                <label class="form-label" for="fileInput">Upload Resume <span class="text-danger">*</span></label>
                                    <input id="fileInput" accept=".pdf, .docx, .txt, .doc" class="form-control" name="file_upload" type="file" />
                                    {% if form.errors %}
                                      {% for error in form.job_openings.errors %}
                                        <div class="error-message text-danger">{{ error }}</div>
                                      {% endfor %}
                                      {% endif %}

                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert {{ message.tags }} mt-2">{{ message }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock body %}

{% block js %}
<script src="{% static 'dashboard/vendor/libs/select2/select2.js' %}"></script>
<script src="{% static 'dashboard/js/forms-selects.js' %}"></script>
<script src="{% static 'dashboard/vendor/libs/@form-validation/popular.js' %}"></script>
<script src="{% static 'dashboard/js/application_create.js' %}"></script>
{% endblock js %}
