{% extends "screening/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<div class="card">
    <div class="card-datatable table-responsive pt-0">
                <div class="d-none">
                    <button id="button_datatable" onclick="location.href = '{% url 'candidate-create' %}'" class="btn btn-secondary create-new btn-primary waves-effect waves-light" tabindex="0" aria-controls="DataTables_Table_0" type="button">
                        <span><i class="ti ti-plus me-sm-1"></i>
                            <span class="d-none d-sm-inline-block">New Candidate</span>
                        </span>
                    </button>
                </div>
            <table class="datatables-basic table">
        <thead>
          <tr>
<!--            <th></th>-->
            <th>
            </th>

            <th>Name</th>
            <th>Designation</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Experience (in years)</th>
            <th>Stage</th>
            <th>Updated</th>
          </tr>
        </thead>
          <tbody>
          {% for candidate in candidates %}
          <tr data-id="{{candidate.id}}">
<!--              <td></td>-->
              <td>
              </td>

              <td><a href="{% url 'candidate-details' candidate.id %}">{{candidate.name}}</a></td>
              <td>{{candidate.current_designation}}</td>
              <td>{{candidate.contact}}</td>
              <td>{{candidate.email}}</td>
              <td>{{candidate.experience}}</td>
              <td>{{candidate.candidatestage_set}}</td>
              <td>{{candidate.updated|date:"F j, Y"}}</td>


          </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
</div>


{% endblock content %}

{% block js %}
    <script src="{% static 'dashboard/js/tables-datatables-basic.js' %}"></script>
{% endblock js %}