{% extends "screening/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'dashboard/vendor/libs/select2/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/vendor/libs/bootstrap-select/bootstrap-select.css' %}" />
    <!-- <style>
        .experience-input {
            width: 100px !important;
        }
    </style> -->
    <link rel="stylesheet" href="{% static 'dashboard/vendor/libs/spinkit/spinkit.css' %}" />

{% endblock css %}

{% block content %}

<div class="card">
    <div class="card-datatable pt-0">
        <h5 id="datatable-title" class="card-title mb-0">Candidate DataTable</h5>

        <!-- Filter and Action Buttons -->
        <div id="filter-container" class="my-3">
                <div class="row">
                    <div class="col-md-2">
                            <!-- Action Button -->
                            <div class="btn-group" id="dropdown-icon-demo">
                                <button
                                  type="button"
                                  id="actioncheck"
                                  class="btn btn-outline-primary dropdown-toggle ms-4"
                                  data-bs-toggle="dropdown"
                                  aria-expanded="false">
                                   Action
                                </button>
                                <ul class="dropdown-menu">
                                  <li>
                                    <a class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#shareOpening">
                                        <i class="ti ti-plus scaleX-n1-rtl me-2"></i>Share Job Opening</a>
                                  </li>
                                  <li>
                                    <a class="dropdown-item d-flex align-items-center text-danger" data-bs-toggle="modal" data-bs-target="#basicModal">
                                        <i class="ti ti-trash scaleX-n1-rtl me-2"></i>Delete</a>
                                  </li>
                                </ul>
                                 <!--Job opening share Modal -->
                                <div class="modal fade" id="shareOpening" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="shareOpeningLabel">Share Job Opening</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                            <div class="modal-body">
                                                <form id="shareJobOpeningForm" method="post" enctype="multipart/form-data" action="{% url 'share_job_opening' %}">
                                                    {% csrf_token %}

                                                     <div class="mb-3">
                                                        <label for="jobOpening" class="form-label">Select Job Opening</label>
                                                        <select class="form-select" id="jobOpening" name="job_opening" required>
                                                            <option value="" disabled selected>Select a job opening</option>
                                                            {% for job in job_openings %}
                                                            <option value="{{ job.id }}">{{ job.designation }}</option>
                                                            {% endfor %}
                                                        </select>
                                                     </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" form="shareJobOpeningForm" class="btn btn-primary">Send Email</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                  <!--Delete Modal -->
                                <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel1">Delete Candidates</h5>
                                          <button
                                            type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                          <p>Are you sure you want to delete selected candidates?</p>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                                            Close
                                          </button>
                                            <form id="deleteForm" method="post" enctype="multipart/form-data" action="{% url 'candidate-delete' %}">
                                              {% csrf_token %}
                                              <button type="submit" id="delete_btn" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">

                            <!-- Status Filter -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Status
                                </button>
                                <ul class="dropdown-menu" id="filter-status">
                                    <li>
                                        <div class="form-check dropdown-item">
                                            <label class="form-check-label custom-option-content">
                                                <input type="checkbox" class="form-check-input mx-1" data-value="Hired">Hired
                                            </label>
                                        </div>
                                        <div class="form-check dropdown-item">
                                            <label class="form-check-label custom-option-content">
                                                <input type="checkbox" class="form-check-input mx-1" data-value="In Stage">In Stage
                                            </label>
                                        </div>
                                        <div class="form-check dropdown-item">
                                            <label class="form-check-label custom-option-content">
                                                <input type="checkbox" class="form-check-input mx-1" data-value="Rejected">Rejected
                                            </label>
                                        </div>
                                        <div class="form-check dropdown-item">
                                            <label class="form-check-label custom-option-content">
                                                <input type="checkbox" class="form-check-input mx-1" data-value="Applied">Applied
                                            </label>
                                        </div>
                                        <div class="form-check dropdown-item">
                                            <label class="form-check-label custom-option-content">
                                                <input type="checkbox" class="form-check-input mx-1" data-value="Inactive">Inactive
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">

                            <!-- Experience Filter -->
                            <div class="input-group">
                                <button type="button" class="btn btn-outline-primary">Experience</button>
                                <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" id="experience-comparator">
                                    <li><a class="dropdown-item" href="javascript:void(0);" data-comparator="<">&lt; </a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);" data-comparator=">">&gt; </a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);" data-comparator="=">= </a></li>
                                </ul>
                                <input type="text" class="form-control w-20" aria-label="Text input with segmented dropdown button" id="experience-input" />
                            </div>
                        </div>
                    </div>
                </div>


        <table class="datatables-basic table table-striped ">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th>Name</th>
                  <th>Designation</th>
                  <th>Contact</th>
                  <th>Email</th>
                  <th>Location</th>
                  <th>Experience (in years)</th>
                  <th>Status</th>
                  <th>Updated</th>
                </tr>
              </thead>
<!--              <tbody>-->
<!--                {% for candidate in candidates %}-->

<!--                <tr data-id="{{candidate.id}}">-->
<!--                    <td></td>-->
<!--                    <td>{{ candidate.id }}</td>-->
<!--                    <td><a href="{% url 'candidate-details' candidate.id %}">{{candidate.name}}</a></td>-->
<!--                    <td>{{candidate.current_designation}}</td>-->
<!--                    <td>{{candidate.contact}}</td>-->
<!--                    <td>{{candidate.email}}</td>-->
<!--                    <td>{{candidate.location}}</td>-->
<!--                    <td>{{candidate.experience}}</td>-->
<!--                    <td>{% for stage in candidate.candidatestage_set.all %} {{stage.stage.name}} {% endfor %}</td>-->
<!--                    <td>{{candidate.updated|date:"F j, Y"}}</td>-->
<!--                </tr>-->
<!--                {% endfor %}-->
<!--              </tbody>-->
            </table>
    </div>
</div>

<!-- Modal for Delete Confirmation -->
<!-- <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Delete Candidates</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete selected candidates?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>
                <form id="deleteForm" method="post" enctype="multipart/form-data" action="{% url 'candidate-delete' %}">
                    {% csrf_token %}
                    <button type="submit" id="delete_btn" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div> -->

{% endblock content %}

{% block js %}
    <script src="{% static 'dashboard/js/tables-datatables-basic.js' %}"></script>
    <script src="{% static 'dashboard/js/forms-selects.js' %}"></script>
    <script src="{% static 'dashboard/vendor/libs/bootstrap-select/bootstrap-select.js' %}"></script>
    <script src="{% static 'dashboard/vendor/js/dropdown-hover.js' %}"></script>
    <script src="{% static 'dashboard/js/form-input-group.js' %}"></script>
{% endblock js %}
