{% extends "screening/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}

    <link rel="stylesheet" href="{% static 'dashboard/vendor/libs/dropzone/dropzone.css' %}" />

{% endblock css %}

{% block content %}
<div class="content-wrapper">
            <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <form>
        {% csrf_token %}
        <div class="card-body needsclick dropzone" id="dropzone">
            <p class="text-muted m-2">upload file in .csv or .xlsx format only.</p>
            <div class="needsclick dz-message" id="dropzone-basic">
              Drop file here or click to upload
            </div>
            <span id="selected-filename">No file chosen</span>
            <div class="fallback">
              <input id="fileInput" accept=".csv, .xlsx" class="d-none" name="upload_file" type="file" />
            </div>
        </div>
    </form>

  </div>
</div>
{% endblock content %}
    {% block js %}
        <script src="{% static 'dashboard/js/forms-file-upload.js' %}"></script>

    {% endblock js %}