{% extends "screening/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}

    <link rel="stylesheet" href="{% static 'dashboard/vendor/libs/dropzone/dropzone.css' %}" />

{% endblock css %}

{% block content %}
<div class="content-wrapper">
            <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
      <div class="border m-2">
          <p class="m-1">Upload file in following Format only.</p>
          <table class="table bg-light">
              <thead>
              <tr>
                  <th scope="col">
                      Name
                  </th>
                  <th scope="col">
                      Contact
                  </th>
                  <th scope="col">
                      Email
                  </th>
                  <th scope="col">
                      Designation
                  </th>
                  <th scope="col">
                      Location
                  </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                  <th scope="row">
                    John Doe
                  </th>
                  <th>
                    982392****
                  </th>
                  <th>
                    Johndoe@gmail.com
                  </th>
                  <th>
                    Python Developer
                  </th>
                  <th>
                    Ahmedabad
                  </th>
              </tr>
              </tbody>
          </table>
      </div>
    <form class="card-body" id="formAuthentication" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% if form.errors %}
                  {% for error in form.upload_file.errors %}
                    <div class="error-message text-danger">{{ error }}</div>
                  {% endfor %}
                  {% endif %}
        <div class="card-body needsclick dropzone" id="dropzone">
            <p class="text-muted m-2">upload file in .csv or .xlsx format only.</p>
            <div class="needsclick dz-message" id="dropzone-basic">
              Drop file here or click to upload
            </div>
            <span id="selected-filename">No file chosen</span>
            <div class="fallback">
              <input id="fileInput" accept=".csv, .xlsx" class="d-none" name="upload_file" type="file" />
            </div>
        </div>
        <div class="pt-6">
          <button type="submit" class="btn btn-primary me-4">Submit</button>
        </div>
    </form>

  </div>
</div>
{% endblock content %}
    {% block js %}
        <script src="{% static 'dashboard/js/forms-file-upload.js' %}"></script>

    {% endblock js %}