{% extends "screening/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}

    <link rel="stylesheet" href="{% static 'dashboard/vendor/libs/apex-charts/apex-charts.css' %}" />

{% endblock css %}


{% block content %}
<div class="d-flex justify-content-between mx-5">
    <button onclick="window.history.back()" type="button" class="btn btn-outline-primary">
      <span class="ti-xs ti ti-chevron-left me-2"></span>Back
    </button>

  <a href="{% url 'candidate-details' candidate.id %}?job_opening_id={{ job_opening.id }}" type="button" class="btn btn-primary">
      <span class="ti-xs ti ti-user me-2"></span>View Full Profile
  </a>

</div>
<!-- my-code -->
<div class="content-wrapper">
            <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">

      <div class="col-12 col-xl-12">
                  <div class="card">
                    <div class="card-header d-flex justify-content-between mb-6">
                      <div class="card-title m-0">
                        <h5 class="mb-1">Career Spotlight: Analyzing {{ candidate.name }}'s Professional Path for {{ job_opening.designation }}</h5>
                        <p class="card-subtitle">This detailed report brings their professional prowess into focus</p>
                      </div>
                      <div>
                        <button class="btn btn-outline-primary"
                                id="exportbtn"
                                data-name="{{ candidate.name }}"
                                data-des="{{ job_opening.designation }}"
                                data-imageurl="{% static 'dashboard/img/icons/jmslogo.png' %}">
                          <span class="ti ti-file-export ti-xs me-2"></span>Export
                        </button>
                      </div>
                    </div>
                    <div class="card-body" id="export-section">
                      <div class="row justify-content-center">
                          <div class="col-md-4">
                              <div class="card mb-4 border-0"> <!-- Added border-0 here -->
                                  <div class="card-body">

                                      <!-- Skills Matching Section -->
                                      <div class="d-flex align-items-center mb-3">
                                          <i class="fas fa-check-circle fa-lg text-primary me-2"></i>
                                          <h5 class="card-title mb-0">Skills Matching</h5>
                                      </div>

                                      <!-- Canvas for Chart.js -->
                                      <div>
                                      <canvas id="skillsMatchChart" data-response="{{ response_text }}" class="my-3" style="max-width: 400px; max-height: 200px;"></canvas>
                                      </div>
                                          <h6 class="mb-0">Reason for fit</h6>
                                      <p class="">
                                      {{ text.skills_matching.reason_for_fit }}
                                      </p>

                                      <!-- Skills Section -->
                                      <div class="d-flex align-items-center mb-3">
                                        <i class="fas fa-cogs fa-lg text-primary me-3"></i>
                                        <h5 class="card-title mb-0">Skills</h5>
                                      </div>
                                    <div class="mb-3">
                                        <ul class="list-group">
                                            {% for category, skills in text.skills.items %}
                                                <li class="list-group-item">
                                                    {% if skills %}
                                                    <strong>{{ category|capfirst }}:</strong>
                                                    <div class="mt-2">
                                                        {% for skill in skills %}
                                                            <span class="badge bg-primary me-1 mt-1">{{ skill }}</span>
                                                        {% endfor %}
                                                    </div>
                                                    {% else %}
                                                    <strong>{{ category|capfirst }}</strong>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>

                                  </div>
                              </div>
                          </div>

                          <div class="col-md-4 text-center mt-10">
                              <h3 class="mb-3 fw-bold text-primary">{{ candidate.name }}</h3>
                              {% if candidate.current_designation %}
                              <h5 class="mb-3">{{ candidate.current_designation }}</h5>
                              {% endif %}

                              <div class="mb-3"> <!-- Removed d-flex to allow block elements -->
                                  <p class="mb-3"> <!-- Added mb-1 for spacing between lines -->
                                      <i class="fas fa-briefcase fa-lg text-primary me-2"></i>
                                      <strong>Experience:</strong> {{ candidate.experience }} years
                                  </p>
                                  <p class="">
                                      <i class="fas fa-graduation-cap fa-lg text-primary me-2"></i>
                                      <strong>Education:</strong> {{ candidate.education }}
                                  </p>
                              </div>

                              <img src="{% static 'dashboard/img/pages/mascot-2.png' %}" alt="Candidate Image" class="img-fluid mt-5" style="height: auto; width: 100%;">

                              <div class="card mb-4 border-0"> <!-- Added shadow for depth -->
                                      <div class="d-flex align-items-center justify-content-center mt-8">
                                          <i class="fas fa-user-friends fa-lg text-primary me-2"></i>
                                          <h5 class="card-title mb-0">Behavioral Traits</h5>
                                      </div>
                                  <ul class="list-unstyled m-auto p-2"> <!-- Align list to the left with some margin -->
                                      {% for p in text.personality_traits %}
                                      <li class="d-flex align-items-center mb-1"> <!-- Flex for icon alignment with bottom margin -->
                                          {% if 'creative' in p|lower or 'innovative' in p|lower %}
                                            <i class="ti ti-bulb text-info me-2 ti-24px"></i>
                                          {% elif 'friendly' in p|lower %}
                                            <i class="ti ti-mood-smile text-info me-2 ti-24px"></i>
                                          {% elif 'organized' in p|lower %}
                                            <i class="ti ti-calendar-month text-info me-2 ti-24px"></i>
                                          {% elif 'detail' in p|lower %}
                                            <i class="ti ti-list-search text-info me-2 ti-24px"></i>
                                          {% elif 'adapt' in p|lower %}
                                            <i class="ti ti-arrow-autofit-width text-info me-2 ti-24px"></i>
                                          {% elif 'analytic' in p|lower %}
                                            <i class="ti ti-chart-line text-info me-2 ti-24px"></i>
                                          {% elif 'leader' in p|lower %}
                                            <i class="ti ti-chess-king text-info me-2 ti-24px"></i>
                                          {% elif 'empathetic' in p|lower %}
                                            <i class="ti ti-heart text-info me-2 ti-24px"></i>
                                          {% elif 'strategic' in p|lower %}
                                            <i class="ti ti-compass text-info me-2 ti-24px"></i>
                                          {% elif 'communicat' in p|lower %}
                                            <i class="ti ti-message text-info me-2 ti-24px"></i>
                                          {% elif 'exceptional' in p|lower %}
                                            <i class="ti ti-star text-info me-2 ti-24px"></i>
                                          {% elif 'motivated' in p|lower %}
                                            <i class="ti ti-rocket text-info me-2 ti-24px"></i>
                                          {% elif 'collaborative' in p|lower or 'team' in p|lower %}
                                            <i class="ti ti-route text-info me-2 ti-24px"></i>
                                          {% elif 'solv' in p|lower or 'learn' in p|lower %}
                                            <i class="ti ti-brain text-info me-2 ti-24px"></i>
                                          {% elif 'goal' in p|lower %}
                                            <i class="ti ti-target-arrow text-info me-2 ti-24px"></i>
                                          {% else %}
                                            <i class="ti ti-sparkles text-info me-2 ti-24px"></i>
                                          {% endif %}
<!--                                          <i class="fas fa-check-circle text-info me-2"></i> &lt;!&ndash; Green check circle &ndash;&gt;-->
                                          <span class="">{{ p }}</span> <!-- Muted text for traits -->
                                      </li>
                                      {% endfor %}
                                  </ul>
                              </div>
                              <div class="card p-2 mb-4 border-0">

                                    <div class="d-flex gap-2 align-items-center ms-2">
                                        <i class="ti ti-clock-hour-3-filled ti-24px text-primary"></i>
                                      <h6 class="mb-0 fw-normal">Current Tenure</h6>
                                        <p class="my-2 ms-2">{{ text.current_tenure }}</p>
                                    </div>

                                    <div class="d-flex gap-2 align-items-center ms-2">
                                      <i class="ti ti-clock-hour-3-filled ti-24px text-primary"></i>
                                      <h6 class="mb-0 fw-normal">Average Tenure</h6>
                                        <p class="my-2 ms-2">{{ text.average_tenure }}</p>

                                    </div>
                                    {% if stable %}
                                    <div class="card shadow-none bg-primary-subtle m-2">
                                      <div class="card-body">
                                        <p class="card-text text-primary">
                                          The tenure history reflects a strong sense of stability,
                                          with consistent and long-term positions.
                                          This indicates a solid commitment and reliability in
                                          maintaining role over extended periods.
                                        </p>
                                      </div>
                                    </div>
                                    {% elif candidate.experience != 0 %}
                                    <div class="card shadow-none bg-warning-subtle">
                                      <div class="card-body">
                                        <p class="card-text text-warning fs-6">
                                        {{ candidate.name }}'s current tenure history suggests some instability,
                                        with frequent changes or short-term positions.
                                        This may indicate a lack of long-term commitment or potential challenges in maintaining
                                        stability within a role.
                                        </p>
                                      </div>
                                    </div>
                                    {% endif %}
                              </div>

                          </div>

                          <div class="col-md-4">

                              <div class="card mb-4 border-0"> <!-- Added border-0 here -->
                                  {% if text.projects_done %}
                                  <div class="card-body">

                                          <div class="d-flex align-items-center mb-3">
                                              <i class="fas fa-folder-open fa-lg text-primary me-2"></i>
                                              <h5 class="card-title mb-0">Projects</h5>
                                          </div>
                                          <ol class="mb-0"> <!-- Removed list-unstyled for automatic numbering -->
                                              {% for project, details in text.projects_done.items %}
                                              <li class="mb-1">
                                                  <strong>{{ project }}:</strong> {{ details.description }}
                                                  <div><strong>Industry:</strong> {{ details.industry }}</div> <!-- Industry on a new line -->

                                              </li>
                                              {% endfor %}
                                          </ol>

                                  </div>
                                  {% endif %}


                                    <!-- Certifications Section -->
                                  {% if text.certifications %}
                                  <div class="card-body">

                                      <div class="d-flex align-items-center my-3">
                                          <i class="fas fa-certificate fa-lg text-primary me-3"></i>
                                          <h5 class="card-title mb-0">Certifications</h5>
                                      </div>
                                          {% for certification in text.certifications %}
                                              <div class="d-flex align-items-start mb-3">
                                                  <i class="fas fa-bookmark text-info me-2 mt-1"></i>
                                                  <div>
                                                      <span class="">{{ certification }}</span>
                                                  </div>
                                              </div>
                                          {% endfor %}

                                  </div>
                                  {% endif %}

                                      <!-- Curricular Activities Section -->
                                  {% if text.achievements %}
                                      <div class="card-body">
                                          <!-- Achievements Title with Icon -->
                                          <div class="d-flex align-items-center mb-4"> <!-- Added mb-4 for spacing below title -->
                                              <i class="fas fa-trophy fa-lg text-primary me-3"></i> <!-- Increased space between icon and text -->
                                              <h5 class="card-title mb-0">Achievements</h5> <!-- Made the title bold for emphasis -->
                                          </div>
                                          <!-- Achievements List -->
                                          <ul class="list-unstyled">
                                              {% for activity in text.achievements %}
                                              <li class="mb-3"> <!-- Added mb-3 for spacing between achievements -->
                                                  <div class="d-flex align-items-start"> <!-- Flex for better alignment -->
                                                      <i class="ti ti-military-award ti-24px text-info me-2 mt-1"></i> <!-- Trophy icon for achievements -->
                                                      <span class="">{{ activity }}</span> <!-- Muted text for a subtle look -->
                                                  </div>
                                              </li>
                                              {% endfor %}
                                          </ul>
                                      </div>
                                  {% endif %}

                              </div>

                          </div>
                      </div>

                    <!-- New Row for Technical and Behavioral Sections -->
                      <div class="row" id="newpage">
                          <div class="col-md-3">
                              <div class="card  border-0">
                                  <div class="card-body">
                                      <div class="d-flex align-items-center mb-3">
                                          <i class="fas fa-comments fa-lg text-primary me-2"></i>
                                          <h5 class="card-title mb-0">Technical Questions</h5>
                                      </div>
                                      <ul class="list-unstyled">
                                          {% for question in text.interview_questions %}
                                          <li class="mb-2">
                                              <i class="fas fa-question-circle text-primary"></i>
                                              <span class="">{{ question }}</span>
                                          </li>
                                          {% endfor %}
                                      </ul>
                                  </div>
                              </div>
                          </div>

                          <div class="col-md-3">
                              <div class="card border-0">
                                  <div class="card-body">
                                      <div class="d-flex align-items-center mb-3">
                                          <i class="fas fa-tasks fa-lg text-primary me-2"></i>
                                          <h5 class="card-title mb-0">Technical Task</h5>
                                      </div>
                                      <div class="d-flex justify-content-between"> <!-- Changed align-items to center -->
                                          <i class="fas fa-clipboard-list text-primary me-2 mt-3 fa-lg"></i>
                                          <p class="mb-0">{{ text.assignment }}</p>
                                      </div>
                                  </div>
                              </div>
                          </div>


                          <div class="col-md-3">
                              <div class="card  border-0">
                                  <div class="card-body">
                                      <div class="d-flex align-items-center mb-3">
                                          <i class="fas fa-comments fa-lg text-primary me-2"></i>
                                          <h5 class="card-title mb-0">Behavioral Questions</h5>
                                      </div>
                                      <ul class="list-unstyled">
                                          {% for assessment in text.behavioral_assessment %}
                                          <li class="mb-2">
                                              <i class="fas fa-question-circle text-primary"></i>
                                              <span class="">{{ assessment }}</span>
                                          </li>
                                          {% endfor %}
                                      </ul>
                                  </div>
                              </div>
                          </div>

                          <div class="col-md-3">
                              <div class="card border-0">
                                  <div class="card-body">
                                      <div class="d-flex align-items-center mb-3">
                                          <i class="fas fa-tasks fa-lg text-primary me-2"></i>
                                          <h5 class="card-title mb-0">Behavioral Task</h5>
                                      </div>
                                      <div class="d-flex justify-content-between"> <!-- Changed align-items to center -->
                                          <i class="fas fa-clipboard-list text-primary me-2 mt-3 fa-lg"></i>
                                          <p class="mb-0">{{ text.behavioral_question }}</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>


<!--                      <ul class="nav nav-tabs widget-nav-tabs pb-8 gap-10 mx-1 d-flex justify-content-center" role="tablist">-->
<!--                        <li class="nav-item">-->
<!--                          <a-->
<!--                            href="javascript:void(0);"-->
<!--                            class="nav-link btn active d-flex flex-column align-items-center justify-content-center"-->
<!--                            role="tab"-->
<!--                            data-bs-toggle="tab"-->
<!--                            data-bs-target="#job-matching"-->
<!--                            aria-controls="job-matching"-->
<!--                            aria-selected="true">-->
<!--                            <div class="badge bg-label-secondary rounded p-2">-->
<!--                              <i class="ti ti-click ti-md"></i>-->
<!--                            </div>-->
<!--                            <h6 class="tab-widget-title mb-0 mt-2">Job Matching</h6>-->
<!--                          </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                          <a-->
<!--                            href="javascript:void(0);"-->
<!--                            class="nav-link btn d-flex flex-column align-items-center justify-content-center"-->
<!--                            role="tab"-->
<!--                            data-bs-toggle="tab"-->
<!--                            data-bs-target="#skill-analysis"-->
<!--                            aria-controls="skill-analysis"-->
<!--                            aria-selected="false">-->
<!--                            <div class="badge bg-label-secondary rounded p-2">-->
<!--                              <i class="ti ti-chart-bar ti-md"></i>-->
<!--                            </div>-->
<!--                            <h6 class="tab-widget-title mb-0 mt-2">Skills</h6>-->
<!--                          </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                          <a-->
<!--                            href="javascript:void(0);"-->
<!--                            class="nav-link btn d-flex flex-column align-items-center justify-content-center"-->
<!--                            role="tab"-->
<!--                            data-bs-toggle="tab"-->
<!--                            data-bs-target="#personality"-->
<!--                            aria-controls="personality"-->
<!--                            aria-selected="false">-->
<!--                            <div class="badge bg-label-secondary rounded p-2">-->
<!--                              <i class="ti ti-user-check ti-md"></i>-->
<!--                            </div>-->
<!--                            <h6 class="tab-widget-title mb-0 mt-2">Behavioral</h6>-->
<!--                          </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                          <a-->
<!--                            href="javascript:void(0);"-->
<!--                            class="nav-link btn d-flex flex-column align-items-center justify-content-center"-->
<!--                            role="tab"-->
<!--                            data-bs-toggle="tab"-->
<!--                            data-bs-target="#questions"-->
<!--                            aria-controls="questions"-->
<!--                            aria-selected="false">-->
<!--                            <div class="badge bg-label-secondary rounded p-2">-->
<!--                              <i class="ti ti-school ti-md"></i>-->
<!--                            </div>-->
<!--                            <h6 class="tab-widget-title mb-0 mt-2">Assessment</h6>-->
<!--                          </a>-->
<!--                        </li>-->
<!--                      </ul>-->
<!--                      <div class="tab-content p-0 ms-0 ms-sm-2" id="export-section">-->
<!--                        <div class="tab-pane fade show active" id="job-matching" role="tabpanel">-->
<!--                          <div class="mb-7">-->
<!--                            <div class="card-header d-flex justify-content-between align-items-center">-->
<!--                              <div>-->
<!--                                <h5 class="mb-1 mt-0 card-title">-->
<!--                                  Fit Forecast-->
<!--                                </h5>-->
<!--                                <p class="card-subtitle"> How {{ candidate.name }} {% if candidate.current_designation %} as {{ candidate.current_designation}} {% endif %} Measures Up to the Job Description-->
<!--                                  {% if role %} for {{ role }} {% endif %}</p>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                            <div class="card-body">-->
<!--                              <div class="mb-6 ms-0 row me-6">-->
<!--                                  {% if text.experience_matching %}-->
<!--                                  <div class="col-sm-12 col-md-4 mt-2">-->
<!--                                    <div class="text-center">-->
<!--                                      <h6 class="mb-0">Experience</h6>-->
<!--                                    </div>-->
<!--                                    <div id="experienceMatching" data-response="{{ response_text }}"></div>-->
<!--                                    <div class="mt-3 text-center">-->
<!--                                      <small class="text-muted mt-3">experience match</small>-->
<!--                                    </div>-->
<!--                                  </div>-->
<!--                                  {% endif %}-->
<!--                                  {% if text.skills_matching %}-->
<!--                                  <div class="col-sm-12 col-md-4 mt-2">-->
<!--                                    <div class="text-center">-->
<!--                                      <h6 class="mb-0">Skills</h6>-->
<!--                                    </div>-->
<!--                                    <div id="skillsMatching" data-response="{{ response_text }}"></div>-->
<!--                                    <div class="mt-3 text-center">-->
<!--                                      <small class="text-muted mt-3">skills match</small>-->
<!--                                    </div>-->
<!--                                  </div>-->
<!--                                  {% endif %}-->
<!--                                  {% if text.education_matching %}-->
<!--                                  <div class="col-sm-12 col-md-4 mt-2">-->
<!--                                    <div class="text-center">-->
<!--                                      <h6 class="mb-0">Education</h6>-->
<!--                                    </div>-->
<!--                                    <div id="educationMatching"></div>-->
<!--                                    <div class="mt-3 text-center">-->
<!--                                      <small class="text-muted mt-3">education match</small>-->
<!--                                    </div>-->
<!--                                  </div>-->
<!--                                {% endif %}-->
<!--                              </div>-->
<!--                              <div class="mt-3">-->
<!--                                <h5>Highlights of {{ candidate.name }}'s Fit for the Role </h5>-->

<!--                                <p>Experience : {{ candidate.experience }} years</p>-->

<!--                                  {% if text.skills_matching.reason_for_fit %}-->
<!--                                <p>Skills : {{ text.skills_matching.reason_for_fit }}</p>-->
<!--                                {% endif %}-->
<!--                                  {% if candidate.education %}-->
<!--                                <p>Education : {{ candidate.education }}</p>-->
<!--                                {% endif %}-->
<!--                              </div>-->
<!--                              <div class="mt-3">-->
<!--                                {% if text.certifications %}-->
<!--                                <h5>Certifications</h5>-->

<!--                                  {% for c in text.certifications %}-->
<!--                                    <p>{{ c }}</p>-->
<!--                                  {% endfor %}-->
<!--                                {% endif %}-->
<!--                              </div>-->
<!--                              <div class="mt-3">-->
<!--                                {% if text.achievements %}-->
<!--                                <h5>Achievements</h5>-->

<!--                                  {% for c in text.achievements %}-->
<!--                                    <p>{{ c }}</p>-->
<!--                                  {% endfor %}-->
<!--                                {% endif %}-->
<!--                              </div>-->
<!--                              <div class="mt-3">-->
<!--                                {% if text.projects_done %}-->
<!--                                <h5>Projects Done </h5>-->
<!--                                <ol>-->
<!--                                  {% for title, details in text.projects_done.items %}-->
<!--                                  <li class="mb-1"><span class="fw-bold">{{ title }} : </span><span class="card-text">{{ details.description }}</span>-->
<!--                                  <div>-->
<!--                                      <span class="fw-bold">Industry : </span><span class="card-text">{{ details.industry }}</span>-->
<!--                                  </div>-->
<!--                                  </li>-->
<!--                                  {% endfor %}-->
<!--                                </ol>-->
<!--                                {% endif %}-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="tab-pane fade" id="skill-analysis" role="tabpanel">-->
<!--                          <div class=" mb-6">-->
<!--                            <div class="card-header d-flex justify-content-between align-items-center">-->
<!--                              <div>-->
<!--                                <h5 class="mb-1 mt-0 card-title">Skill Set of {{ candidate.name }}</h5>-->
<!--                              </div>-->
<!--                            </div>-->
<!--&lt;!&ndash;                            <div class="card-body row g-3">&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="col-sm-12 col-md-8">&ndash;&gt;-->
<!--                                  {% if text.skills %}-->
<!--                                    <div class="row g-3">-->
<!--                                        {% for category, skills in text.skills.items %}-->
<!--                                        <div class="col-xs-12 col-sm-6 col-md-3 skillset">-->
<!--                                            <div class="card-body p-0 pb-2 border border-primary rounded">-->
<!--                                            <h5 class="card-title mx-0 my-6 p-2 bg-primary text-white text-center">{{ category|upper }}</h5>-->

<!--                                            {% for s in skills %}-->
<!--                                                <p class="card-text text-center">{{ s }}</p>-->
<!--                                            {% endfor %}-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        {% endfor %}-->
<!--                                    </div>-->
<!--                                    {% endif %}-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->

<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="tab-pane fade" id="personality" role="tabpanel">-->
<!--                          <div class="mb-7">-->
<!--                            <div class="card-body">-->
<!--                              {% if "none" not in text.current_tenure|lower or "none" not in text.average_tenure|lower %}-->

<!--                                <div class="mx-2 gap-4 gap-sm-0 d-flex flex-wrap justify-content-between align-items-center">-->
<!--                                  <div class="">-->
<!--                                    <div class="d-flex gap-2 align-items-center">-->
<!--                                      <div class="badge rounded bg-label-info p-1">-->
<!--                                        <i class="ti ti-clock-hour-3"></i>-->
<!--                                      </div>-->
<!--                                      <h6 class="mb-0 fw-normal">Total Experience</h6>-->
<!--                                    </div>-->
<!--                                    <h4 class="my-2 ms-2">{{ candidate.experience }} years</h4>-->
<!--                                  </div>-->
<!--                                  <div class="">-->
<!--                                    <div class="d-flex gap-2 align-items-center">-->
<!--                                      <div class="badge rounded bg-label-info p-1">-->
<!--                                        <i class="ti ti-clock-hour-3"></i>-->
<!--                                      </div>-->
<!--                                      <h6 class="mb-0 fw-normal">Current Tenure</h6>-->
<!--                                    </div>-->
<!--                                    <h4 class="my-2 ms-2">{{ text.current_tenure }}</h4>-->
<!--                                  </div>-->
<!--                                  <div class="">-->
<!--                                    <div class="d-flex gap-2 align-items-center">-->
<!--                                      <div class="badge rounded bg-label-info p-1"><i class="ti ti-clock-hour-3"></i></div>-->
<!--                                      <h6 class="mb-0 fw-normal">Average Tenure</h6>-->
<!--                                    </div>-->
<!--                                    <h4 class="my-2 ms-2">{{ text.average_tenure }}</h4>-->
<!--                                  </div>-->
<!--                                </div>-->
<!--                                <div class="">-->
<!--                                    {% if stable %}-->
<!--                                    <div class="card shadow-none bg-primary-subtle">-->
<!--                                      <div class="card-body">-->
<!--                                        <p class="card-text text-primary">-->
<!--                                          The tenure history reflects a strong sense of stability,-->
<!--                                          with consistent and long-term positions.-->
<!--                                          This indicates a solid commitment and reliability in-->
<!--                                          maintaining role over extended periods.-->
<!--                                        </p>-->
<!--                                      </div>-->
<!--                                    </div>-->
<!--                                    {% elif candidate.experience != 0 %}-->
<!--                                    <div class="card shadow-none bg-warning-subtle">-->
<!--                                      <div class="card-body">-->
<!--                                        <p class="card-text text-warning fs-6">-->
<!--                                        {{ candidate.name }}'s current tenure history suggests some instability,-->
<!--                                        with frequent changes or short-term positions.-->
<!--                                        This may indicate a lack of long-term commitment or potential challenges in maintaining-->
<!--                                        stability within a role.-->
<!--                                        </p>-->
<!--                                      </div>-->
<!--                                    </div>-->
<!--                                    {% endif %}-->
<!--                                </div>-->

<!--                              {% endif %}-->
<!--                              <h5 class="mb-1 mt-2 card-title">-->
<!--                               Unveiling Key Behavioral Traits-->
<!--                              </h5>-->
<!--                              <div class="mt-4">-->
<!--                                <div class="row">-->
<!--                                  {% for p in text.personality_traits %}-->
<!--                                  <div class="col-md-4">-->
<!--                                    <div class="d-flex align-items-center mb-2">-->
<!--                                      <div class="avatar me-4">-->
<!--                                          <span class="avatar-initial rounded bg-label-primary p-1">-->
<!--                                          {% if 'creative' in p|lower or 'innovative' in p|lower %}-->
<!--                                            <i class="ti ti-bulb ti-28px"></i>-->
<!--                                          {% elif 'friendly' in p|lower %}-->
<!--                                            <i class="ti ti-mood-smile ti-28px"></i>-->
<!--                                          {% elif 'organized' in p|lower %}-->
<!--                                            <i class="ti ti-calendar-month ti-28px"></i>-->
<!--                                          {% elif 'detail' in p|lower %}-->
<!--                                            <i class="ti ti-list-search ti-28px"></i>-->
<!--                                          {% elif 'adapt' in p|lower %}-->
<!--                                            <i class="ti ti-arrow-autofit-width ti-28px"></i>-->
<!--                                          {% elif 'analytic' in p|lower %}-->
<!--                                            <i class="ti ti-chart-line ti-28px"></i>-->
<!--                                          {% elif 'leader' in p|lower %}-->
<!--                                            <i class="ti ti-chess-king ti-28px"></i>-->
<!--                                          {% elif 'empathetic' in p|lower %}-->
<!--                                            <i class="ti ti-heart ti-28px"></i>-->
<!--                                          {% elif 'strategic' in p|lower %}-->
<!--                                            <i class="ti ti-compass ti-28px"></i>-->
<!--                                          {% elif 'communicat' in p|lower %}-->
<!--                                            <i class="ti ti-message ti-28px"></i>-->
<!--                                          {% elif 'exceptional' in p|lower %}-->
<!--                                            <i class="ti ti-star ti-28px"></i>-->
<!--                                          {% elif 'motivated' in p|lower %}-->
<!--                                            <i class="ti ti-rocket ti-28px"></i>-->
<!--                                          {% elif 'collaborative' in p|lower or 'team' in p|lower %}-->
<!--                                            <i class="ti ti-route ti-28px"></i>-->
<!--                                          {% elif 'solv' in p|lower or 'learn' in p|lower %}-->
<!--                                            <i class="ti ti-brain ti-28px"></i>-->
<!--                                          {% elif 'goal' in p|lower %}-->
<!--                                            <i class="ti ti-target-arrow ti-28px"></i>-->
<!--                                          {% else %}-->
<!--                                            <i class="ti ti-sparkles ti-28px"></i>-->
<!--                                          {% endif %}-->
<!--                                          </span>-->

<!--                                      </div>-->
<!--                                      <h6 class="mb-0">{{ p|capfirst }}</h6>-->
<!--                                    </div>-->
<!--                                  </div>-->
<!--                                  {% endfor %}-->
<!--                                </div>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="tab-pane fade" id="questions" role="tabpanel">-->
<!--                          <div class="mb-7">-->
<!--                            <div class="card-header d-flex justify-content-between align-items-center">-->
<!--                              <div>-->
<!--                                <h5 class="mb-1 mt-0 card-title">Key Questions and Assessments for Interviews </h5>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                            <div class="card-body">-->
<!--                              <h6>Technical Assessment</h6>-->
<!--                              <ol>-->
<!--                                {% for q in text.interview_questions %}-->
<!--                                <li class="mb-1">-->
<!--                                  {{ q }}-->
<!--                                </li>-->
<!--                                {% endfor %}-->
<!--                              </ol>-->

<!--                              <div class="card shadow-none bg-info-subtle">-->
<!--                                <div class="card-body">-->
<!--                                  <h6 class="card-title text-info">Task </h6>-->
<!--                                  <p class="card-text text-info">-->
<!--                                    {{ text.assignment }}-->
<!--                                  </p>-->

<!--                                </div>-->

<!--                              </div>-->
<!--                                <h6 class="mt-5">Cultural Fitment</h6>-->
<!--                              <ol>-->
<!--                                {% for q in text.behavioral_assessment %}-->
<!--                                <li class="mb-1">-->
<!--                                  {{ q }}-->
<!--                                </li>-->
<!--                                {% endfor %}-->
<!--                              </ol>-->

<!--                              <div class="card shadow-none bg-info-subtle">-->
<!--                                <div class="card-body">-->
<!--                                  <h6 class="card-title text-info">Behavioral Situation </h6>-->
<!--                                  <p class="card-text text-info">-->
<!--                                    {{ text.behavioral_question }}-->
<!--                                  </p>-->

<!--                                </div>-->

<!--                              </div>-->

<!--                            </div>-->
<!--                          </div>-->

<!--                          </div>-->
<!--                        </div>-->
                      </div>
                    </div>
      </div>
  </div>



</div>



{% endblock content %}

{% block js %}

    <script src="{% static 'dashboard/vendor/libs/chartjs/chartjs.js' %}"></script>

    <script src="{% static 'dashboard/js/analysis.js' %}"></script>

{% endblock js %}
