/* Reset and common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}


/* Page container */
.container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    
}

/* Heading styles */
h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #1aa67d;
    text-align: center;
}

/* Chart container */
#container {
    width: 75%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Canvas styles */
#pie-chart {
    display: block;
    width: 100%;
    height: auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #container {
        width: 90%;
    }
}

/* Additional responsive adjustments for navbar */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-brand, .navbar-nav .nav-link {
        padding: 10px 15px;
    }
}
    