/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}



/* Container styles */
.container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 24px;
    
}



/* Content section styles */
.content-section {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

/* Table styles */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

.table th {
    background-color:#51414F;
    color: #ffffff;
    font-weight: bold;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Resume link styles */
.resume-link {
    color: #20c997;
    text-decoration: none;
}

.resume-link:hover {
    text-decoration: underline;
}

/* Button styles */
.btn {
    padding: 8px 12px;
    font-size: 14px;
    color: #ffffff;
    background-color:  #20c997;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #c82333;
}

/* Form group styles */
.form-group {
    margin-bottom: 20px;
}

/* Button group styles */
.button-group {
    display: flex;
    justify-content: center; /*Center align items horizontally*/
}

/* Upload button styles */
.button {
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #20c997;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    
}

.button:hover{
    background-color: #1aa67d;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .content-section {
        width: 100%;
    }
}
