{% extends "users/user_base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
{% if user.is_authenticated %}
<h4 class="mb-1">Welcome to JiviHire! 👋</h4>
              <p class="mb-6">Create Company and start the adventure</p>

              <form id="formAuthentication" enctype="multipart/form-data" class="mb-4" method="post">
                {% csrf_token %}
                  <div class="mb-6">
                      {% if form.errors %}
                        {% for field, errors in form.errors.items %}
                                  {% for error in errors %}
                                      <div class="error-message text-danger">{{ error }}</div>
                                  {% endfor %}
                              {% endfor %}
                    {% endif %}
                  <label for="name" class="form-label">Company Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="XYZ Private Limited"
                    value="{{ form.name.value|default_if_none:'' }}"
                    required
                    autofocus />
                </div>
                <div class="mb-6">
                  <label class="form-label" for="website">Website</label>
                    <input
                      id="website"
                      class="form-control"
                      name="website"
                      placeholder="abc.in"
                      value="{{ form.website.value|default_if_none:'' }}"

                       />
                </div>
                  <div class="mb-6">
                  <label class="form-label" for="description">Company Description</label>

                    <textarea
                      id="description"
                      class="form-control"
                      name="description"
                      placeholder="XYZ Private Limited is focused on ..."
                      rows="4"

                    >{{ form.description.value|default_if_none:'' }}</textarea>
                </div>

                <div class="mb-6">
                  <button class="btn btn-primary d-grid w-100" type="submit">Submit</button>
                </div>
              </form>

    <!-- / Content -->

{% endif %}{% endblock %}

