{% extends "screening/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'dashboard/vendor/css/pages/page-profile.css' %}" />
{% endblock css %}

{% block content %}
    <!-- Header -->
    <div class="row">
        <div class="col-12">
            <div class="card mb-6">
                <div class="user-profile-header-banner">
                    <img src="{% static 'dashboard/img/pages/profile-banner.png' %}" alt="Banner image" class="rounded-top" />
                </div>
                <div class="user-profile-header d-flex flex-column flex-lg-row text-sm-start text-center mb-5">
                    <div class="flex-shrink-0 mt-n2 mx-sm-0 mx-auto">
                        <img
                            src="{% static 'dashboard/img/avatars/8380015.jpg' %}"
                            alt="user image"
                            class="d-block h-auto ms-0 ms-sm-6 rounded user-profile-img" />
                    </div>
                    <div class="flex-grow-1 mt-3 mt-lg-5">
                        <div
                            class="d-flex align-items-md-end align-items-sm-start align-items-center justify-content-md-between justify-content-start mx-5 flex-md-row flex-column gap-4">
                            <div class="user-profile-info">
                                <h4 class="mb-2 mt-lg-6">{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</h4>
                                <ul
                                    class="list-inline mb-0 d-flex align-items-center flex-wrap justify-content-sm-start justify-content-center gap-4 my-2">
                                    <li class="list-inline-item d-flex gap-2 align-items-center">
                                        {% if user.groups.first.name == 'admin' %}
                                            <i class="ti ti-user-hexagon ti-lg"></i>
                                        {% else %}
                                            <i class="ti ti-user-pentagon ti-lg"></i>
                                        {% endif %}
                                        <span class="fw-medium">{{ user.groups.first|capfirst }}</span>
                                    </li>
                                    <li class="list-inline-item d-flex gap-2 align-items-center">
                                        <i class="ti ti-calendar ti-lg"></i><span class="fw-medium"> Joined {{ user.employee.joined|date:"F j, Y" }}</span>
                                    </li>
                                </ul>
                            </div>
                            <a href="javascript:void(0)" class="btn btn-primary mb-1">
                                <i class="ti ti-user-check ti-xs me-2"></i>Connected
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Header -->

    <!-- Navbar pills -->
    <div class="row mb-2">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
                <ul class="nav nav-pills flex-column flex-sm-row mb-2 gap-2 gap-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users-settings' %}"><i class="ti-sm ti ti-user-check me-1_5"></i> Profile</a>
                    </li>
                    {% if clients %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users-clients' %}"><i class="ti-sm ti ti-building me-1_5"></i> Clients</a>
                    </li>
                    {% endif %}
                    {% if has_perm2 and employees %}
                    <li class="nav-item">
                        <a class="nav-link active" href="javascript:void(0);"><i class="ti-sm ti ti-user me-1_5"></i> Employees</a>
                    </li>
                    {% endif %}
                </ul>
                
                <a href="{% url 'create-employee' %}" type="button" class="btn btn-outline-primary">
                    <span class="ti-xs ti ti-plus me-2"></span>New Employee
                </a>
                
            </div>
        </div>
    </div>
    <!--/ Navbar pills -->

    <div class="row g-6">
        {% for emp in employees %}
        <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start">
                        <div class="d-flex align-items-center mb-3 pb-1">
                            <div class="avatar me-4">
                                <i class="ti-lg ti ti-user me-1_5"></i>
                            </div>
                            <div class="me-2">
                                <h5 class="mb-0">{{ emp.user.first_name|capfirst }} {{ emp.user.last_name|capfirst }}</h5>
                                <div class="text-body">{{ emp.user.groups.first.name }}</div>
                            </div>
                        </div>

                        <div class="ms-auto">
                            {% if request.user == emp.user %}
                            <a href="{% url 'users-update' emp.id %}"  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="Edit">
                                        <i class="ti ti-pencil me-2"></i></a>
                            {% else %}
                            <div class="dropdown">
                                <button
                                    type="button"
                                    class="btn btn-icon btn-text-secondary rounded-pill dropdown-toggle hide-arrow p-0"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="ti ti-dots-vertical ti-md text-muted"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="{% url 'update-employee' emp.user.id %}">
                                        <i class="ti ti-pencil ti-xs me-2"></i>Change Position</a></li>
                                    <li>
                                        <hr class="dropdown-divider" />
                                    </li>

                                    <li>
                                        <a class="dropdown-item text-danger"
                                           data-bs-toggle="modal"
                                           data-bs-target="#employeeDelete-{{ emp.id }}">
                                            <i class="ti ti-trash ti-xs me-2"></i>Delete</a>
                                    </li>

                                </ul>
                                  <!-- Modal -->
                                <div class="modal fade" id="employeeDelete-{{ emp.id }}" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel1">Delete Employee</h5>
                                          <button
                                            type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                          <p>Are you sure you want to delete {{ emp.user.first_name|capfirst }} {{ emp.user.last_name|capfirst }} }?</p>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                                            Close
                                          </button>
                                            <form id="deleteForm" method="post" enctype="multipart/form-data" action="{% url 'employees-delete' emp.id %}">
                                              {% csrf_token %}
                                              <button type="submit" id="delete_btn" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <div><p><i class="ti-sm ti ti-phone-call me-1_5"></i> {{ emp.contact }}</p></div>
                    <div><p><i class="ti-sm ti ti-mail me-1_5"></i> {{ emp.user.email }}</p></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!--/ User Profile Content -->
{% endblock content %}

{% block js %}
    <script src="{% static 'dashboard/js/pages-profile.js' %}"></script>
{% endblock js %}
