{% extends "users/user_base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<!--  reset password field  -->
<h4 class="mb-1">Reset Password 🔒</h4>

              <form id="formAuthentication" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="mb-6 form-password-toggle">
                  <label class="form-label" for="password">New Password</label>
                  <div class="input-group input-group-merge">
                    <input
                      type="password"
                      id="password"
                      class="form-control"
                      name="new_password1"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      aria-describedby="password" />
                    <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                  </div>
                  {% for error in form.new_password1.errors %}
                    <div class="error-message text-danger">{{ error }}</div>
                  {% endfor %}
                </div>
                <div class="mb-6 form-password-toggle">
                  <label class="form-label" for="confirm-password">Confirm Password</label>
                  <div class="input-group input-group-merge">
                    <input
                      type="password"
                      id="confirm-password"
                      class="form-control"
                      name="new_password2"
                      placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                      aria-describedby="password" />
                    <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                  </div>
                  {% for error in form.new_password2.errors %}
                    <div class="error-message text-danger">{{ error }}</div>
                  {% endfor %}
                </div>
                <button class="btn btn-primary d-grid w-100 mb-6" type="submit">Set new password</button>
                <div class="text-center">
                  <a href="{% url 'login' %}">
                    <i class="ti ti-chevron-left scaleX-n1-rtl me-1_5"></i>
                    Back to login
                  </a>
                </div>
              </form>


{% endblock content %}
