{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Password Reset Sent - RecruitSmart</title>
  <link rel="stylesheet" href="{% static 'user/css/forgot.css' %}" />
  <link rel="icon" type="image/x-icon" href="{% static 'dashboard/img/icons/logo_1.png' %}" />
</head>
<body>
  <div class="login-wrapper">
    <div class="login-card">
      <div class="logo-container">
        <img src="{% static 'dashboard/img/icons/logo.png' %}" alt="RecruitSmart Logo">
      </div>
      <h2 class="login-title">Reset Password 🔒</h2>
      <p class="login-subtext">
        An email has been sent to your email address.<br>
        Please check your inbox to reset your password.
      </p>

      <div class="wrapper">
        <a href="{% url 'login' %}" class="button">Back to Login</a>
      </div>
    </div>
  </div>
</body>
</html>
