{% extends "parser/base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}

<!--  to notify user that password has been sent to their email -->
<div id="main-wrapper" class="oxyy-login-register">
  <div class="container-fluid px-0">
    <div class="row g-0 min-vh-100">
      <!-- Welcome Text
      ========================= -->
      <div class="col-md-5">
        <div class="hero-wrap h-100">
          <div class="hero-mask opacity-3 bg-primary"></div>
          <div class="hero-content w-100">
            <div class="container d-flex flex-column min-vh-100">
              <div class="row g-0">
                <div class="col-11 col-md-10 col-lg-9 mx-auto">
                  <div class="logo mt-5 mb-5 mb-md-0"> <a class="d-flex" href="#" title="JMS"><img src="{% static 'parser/images/icon.png' %}" alt="JMS"></a> </div>
                </div>
              </div>
              <div class="row g-0 my-auto">
                <div class="col-11 col-md-10 col-lg-9 mx-auto">
                  <p class="text-4 lh-base">Don't worry,</p>
                  <h1 class="text-9 fw-600 mb-5">We are here help you to recover your password.</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Welcome Text End -->
      <!-- Forgot password Form
      ========================= -->
      <div class="col-md-7 d-flex flex-column">
        <div class="container pt-5">
          <div class="row g-0">
            <div class="col-11 mx-auto">
              <p class="text-end text-2 mb-0">Return to <a href="{% url 'login' %}">Log In</a></p>
            </div>
          </div>
        </div>
        <div class="container my-auto py-5">
          <div class="row g-0">
            <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
                <h4 class="fw-600 mb-4"> Email has been sent to your email address.</h4>
                <h5 class="fw-400 mb-4"> Check your email to reset password.</h5>

            </div>
          </div>
        </div>
      </div>
      <!-- Forgot password Form End -->
    </div>
  </div>
</div>
{% endblock content %}