{% extends "screening/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'dashboard/vendor/libs/fullcalendar/fullcalendar.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/vendor/libs/flatpickr/flatpickr.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/vendor/css/pages/app-calendar.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css">

{% endblock css %}

{% block content %}

<!-- Content wrapper -->
<div class="content-wrapper">
<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
  <div class="card app-calendar-wrapper">
    <div class="row g-0">
      <!-- Calendar Sidebar -->
      <div class="col app-calendar-sidebar border-end" id="app-calendar-sidebar">
        <div class="border-bottom p-6 my-sm-0 mb-4">
          <button
            class="btn btn-primary btn-toggle-sidebar w-100"
            data-bs-toggle="offcanvas"
            data-bs-target="#addEventSidebar"
            aria-controls="addEventSidebar">
            <i class="ti ti-plus ti-16px me-2"></i>
            <span class="align-middle">Add Interview</span>
          </button>
        </div>
        <div class="px-3 pt-2 upcoming-events-container">
<!--          &lt;!&ndash; inline calendar (flatpicker) &ndash;&gt;-->
<!--          <div class="inline-calendar"></div>-->
          <h5>Upcoming Interviews</h5>

          {% for year, months in upcoming.items %}
           <h6 data-year="{{ year }}">{{ year }}</h6>  <!-- Display the year -->
            {% for month, events in months.items %}
                <h6 data-month="{{ month }}" class="mb-0 mt-2">{{ month }}</h6>  <!-- Display the month -->
                {% for e in events %}
                    <div> {{ e.start_datetime|date:"d, h:i A" }}</div>  <!-- Format the date as "day, time" -->
                    <div class="badge text-start mb-1" id="upcoming_event_{{ e.id }}" data-interview_type="{{ e.interview_type }}">
                        {{ e.candidate.name }} for {{ e.designation.designation }}
                    </div>
                {% endfor %}
            {% endfor %}
          {% endfor %}
        </div>
        <hr class="mb-6 mx-n4 mt-3" />
        <div class="px-6 pb-2">
          <!-- Filter -->
          <div>
            <h5>Interview Filters</h5>
          </div>

          <div class="form-check form-check-secondary mb-5 ms-2">
            <input
              class="form-check-input select-all"
              type="checkbox"
              id="selectAll"
              data-value="all"
              checked />
            <label class="form-check-label" for="selectAll">View All</label>
          </div>

          <div class="app-calendar-events-filter text-heading">
            <div class="form-check form-check-primary mb-5 ms-2">
              <input
                class="form-check-input input-filter"
                type="checkbox"
                id="select-personal"
                data-value="facetoface"
                checked />
              <label class="form-check-label" for="select-personal">Face to face</label>
            </div>
            <div class="form-check form-check-success mb-5 ms-2">
              <input
                class="form-check-input input-filter"
                type="checkbox"
                id="select-business"
                data-value="telephonic"
                checked />
              <label class="form-check-label" for="select-business">Telephonic</label>
            </div>
            <div class="form-check form-check-info mb-5 ms-2">
              <input
                class="form-check-input input-filter"
                type="checkbox"
                id="select-family"
                data-value="virtual"
                checked />
              <label class="form-check-label" for="select-family">Virtual</label>
            </div>

          </div>
        </div>
      </div>
      <!-- /Calendar Sidebar -->

      <!-- Calendar & Modal -->
      <div class="col app-calendar-content">
        <div class="card shadow-none border-0">
          <div class="card-body pb-0">
            <!-- FullCalendar -->
            <div id="calendar" data-events="{{ events }}"></div>
          </div>
        </div>
        <div class="app-overlay"></div>
        <!-- FullCalendar Offcanvas -->
        <div
          class="offcanvas offcanvas-end event-sidebar"
          tabindex="-1"
          id="addEventSidebar"
          aria-labelledby="addEventSidebarLabel">
          <div class="offcanvas-header border-bottom">
            <h5 class="offcanvas-title" id="addEventSidebarLabel">Add Interview</h5>
            <button
              type="button"
              class="btn-close text-reset"
              data-bs-dismiss="offcanvas"
              aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <form class="event-form pt-0" enctype="multipart/form-data" id="eventForm" onsubmit="return false">
              <div class="mb-5">
                <label class="form-label" for="eventTitle">Title</label><span>*</span>
                <input
                  type="text"
                  class="form-control"
                  id="eventTitle"
                  name="title"
                  placeholder="Title" />
              </div>
              <div class="mb-5">
                <label class="form-label" for="eventLabel">Interview Type</label><span>*</span>
                <select class="select2 select-event-label form-select" id="eventLabel" name="interview_type">
                  <option data-label="primary" value="facetoface" selected>Face to face</option>
                  <option data-label="success" value="telephonic">Telephonic</option>
                  <option data-label="info" value="virtual">Virtual</option>
<!--                  <option data-label="success" value="Holiday">Holiday</option>-->
<!--                  <option data-label="info" value="ETC">ETC</option>-->
                </select>
              </div>
              <div class="mb-5">
                <label class="form-label" for="eventStartDate">Date</label><span>*</span>
                <input
                  type="text"
                  class="form-control"
                  id="eventStartDate"
                  name="date"
                  placeholder="Date of Interview" />
              </div>
              <div class="mb-5">
                <label class="form-label" for="eventStartTime">Start Time</label><span>*</span>
                <input
                  type="text"
                  class="form-control"
                  id="eventStartTime"
                  name="starttime"
                  placeholder="Start Time" />
              </div>
              <div class="mb-5">
                <label class="form-label" for="eventEndTime">End Time</label><span>*</span>
                <input
                  type="text"
                  class="form-control"
                  id="eventEndTime"
                  name="endtime"
                  placeholder="End Time" />
              </div>
<!--              <div class="mb-5">-->
<!--                <div class="form-check form-switch">-->
<!--                  <input type="checkbox" class="form-check-input allDay-switch" id="allDaySwitch" />-->
<!--                  <label class="form-check-label" for="allDaySwitch">All Day</label>-->
<!--                </div>-->
<!--              </div>-->
              <div class="mb-5">
                <label class="form-label" for="eventURL">Interview URL</label>
                <input
                  type="url"
                  class="form-control"
                  id="eventURL"
                  name="interview_url"
                  placeholder="https://www.google.com" />
              </div>
              <div class="mb-5">
                <label class="form-label" for="interviewer">Attendees</label><span>*</span>
                <input name="interviewer" class="form-control" id="interviewer" placeholder="demo@gmail.com, interview@gmail.com"/>
              </div>
              <div class="mb-5 select2-primary">
                <label class="form-label" for="eventGuests">Candidate</label><span>*</span>
                <select
                  class="select2 form-select"
                  id="eventGuests"
                  name="candidate"
                  >
                  {% for c in candidates %}
                  <option value="{{c.id}}">{{c.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="mb-5 select2-primary">
                <label class="form-label" for="designation">For Designation</label><span>*</span>
                <select
                  class="select2 form-select"
                  id="designation"
                  name="designation"
                  >
                  {% for d in designation %}
                  <option value="{{d.id}}">{{d.designation}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="mb-5">
                <label class="form-label" for="eventLocation">Location</label><span>*</span>
                <input
                  type="text"
                  class="form-control"
                  id="eventLocation"
                  name="location"
                  placeholder="Enter Location" />
              </div>
              <div class="mb-5">
                <label class="form-label" for="eventDescription">Description</label>
                <textarea class="form-control" name="description" id="eventDescription"></textarea>
              </div>
              <div class="d-flex justify-content-sm-between justify-content-start mt-6 gap-2">
                <div class="d-flex">
                  <button type="submit" id="addEventBtn" class="btn btn-primary btn-add-event me-4">
                    Add
                  </button>
                  <button
                    type="reset"
                    class="btn btn-label-secondary btn-cancel me-sm-0 me-1"
                    data-bs-dismiss="offcanvas">
                    Cancel
                  </button>
                </div>
                <button class="btn btn-label-danger btn-delete-event d-none">Delete</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /Calendar & Modal -->
    </div>
  </div>
</div>
<!-- / Content -->


<div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->


{% endblock content %}

{% block js %}
    <script src="{% static 'dashboard/vendor/libs/fullcalendar/fullcalendar.js' %}"></script>
    <script src="{% static 'dashboard/vendor/libs/moment/moment.js' %}"></script>
    <script src="{% static 'dashboard/vendor/libs/flatpickr/flatpickr.js' %}"></script>
    <script src="{% static 'dashboard/vendor/libs/select2/select2.js' %}"></script>
    <script src="{% static 'dashboard/vendor/libs/@form-validation/popular.js' %}"></script>
    <script src="{% static 'dashboard/vendor/libs/@form-validation/bootstrap5.js' %}"></script>

    <script src="{% static 'dashboard/vendor/libs/@form-validation/auto-focus.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>

<!--    <script src="{% static 'dashboard/js/app-calendar-events.js' %}"></script>-->
    <script src="{% static 'dashboard/js/app-calendar.js' %}"></script>
{% endblock js %}