<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congratulations!</title>
</head>
<body style="font-family: 'Arial', sans-serif; color: #333; margin: 0; padding: 0;">
    <table cellspacing="0" cellpadding="0" align="center" width="100%">
        <tbody>
            <tr>
                <td align="center">
                    <table cellspacing="0" cellpadding="0" align="center" width="100%" style="background: linear-gradient(135deg, #74ebd5, #ACB6E5); border-radius: 15px; box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3); max-width: 650px; margin-top: 10px; padding: 30px; font-size: 16px;">
                        <tbody>
                            <tr>
                                <td align="left">
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td width="100%" align="center" valign="top" style="background-color: #e8f4fa; border: 2px solid #007bff; border-radius: 10px; padding: 20px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">
                                                    <h2 style="color: #007bff; font-size: 32px; margin-bottom: 15px; line-height: 1.4; text-align: center;">Congratulations <strong>{{ candidate.name }}!</strong></h2>
                                                    <p style="color: #555; font-size: 18px; line-height: 1.8; margin: 15px 0; text-align: center;">We are thrilled to inform you that you have been selected for the {{ job_opening.designation }} position at {% if job_opening.client %} {{ job_opening.client }} {% else %} {{ job_opening.company }} {% endif %}. Welcome to the team!</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            
                            <tr>
                                <td align="left">
                                    <h2 style="text-align: left; color: #007bff;">Welcome aboard!</h2>
                                    <div>
                                        <!-- Left Box -->
<!--                                        <div style="width: 48%; float: left; text-align: center;">-->
<!--                                            <table cellpadding="0" cellspacing="0" width="100%">-->
<!--                                                <tbody>-->
<!--                                                    <tr>-->
<!--                                                        <td align="center" style="background-color: #e8f4fa; border: 2px solid #007bff; border-radius: 10px; padding: 20px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); transition: background-color 0.3s ease, border-color 0.3s ease;">-->
<!--                                                            <p><strong>Start Date:</strong></p>-->
<!--                                                            <p>Monday, November 25th</p>-->
<!--                                                        </td>-->
<!--                                                    </tr>-->
<!--                                                </tbody>-->
<!--                                            </table>-->
<!--                                        </div>-->

                                        <!-- Right Box -->
                                        <div style="width: 100%; float: left; margin-left: 0%; text-align: center;">
                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                <tbody>
                                                    <tr>
                                                        <td align="center" style="background-color: #e8f4fa; border: 2px solid #007bff; border-radius: 10px; padding: 20px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); transition: background-color 0.3s ease, border-color 0.3s ease;">
                                                            <p><strong>Onboarding Details:</strong></p>
                                                            <p>You'll receive an email with all the information soon.</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
<!--                            <tr>-->
<!--                                <td>-->
<!--                                    <table align="center" cellpadding="10" cellspacing="0" width="100%" style="background-color: #e0e0e0; border-radius: 10px; border: 2px solid #007bff; color: #007bff; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); margin-top: 20px;">-->
<!--                                        <tr>-->
<!--                                            <td align="center" style="font-size: 1.2rem; font-weight: 600; padding-bottom: 15px;">-->
<!--                                                Company Information-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td align="center" style="color: #333;">-->
<!--                                                <strong>Company Name:</strong> -->
<!--                                                {% if job_opening.client %}-->
<!--                                                    <span style="color: #555; font-weight: 500;">{{ job_opening.client }}</span>-->
<!--                                                {% else %}-->
<!--                                                    <span style="color: #555; font-weight: 500;">{{ job_opening.company }}</span>-->
<!--                                                {% endif %}-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td align="center" style="color: #333;">-->
<!--                                                <strong>Contact Person:</strong>-->
<!--                                                <span style="color: #555; font-weight: 500;">Jane Smith</span>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td align="center" style="color: #333;">-->
<!--                                                <strong>Phone:</strong>-->
<!--                                                <span style="color: #555; font-weight: 500;">+123 456 7890</span>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                        <tr>-->
<!--                                            <td align="center" style="color: #333;">-->
<!--                                                <strong>Email:</strong>-->
<!--                                                <span style="color: #555; font-weight: 500;">jms@jmsadvisory.com</span>-->
<!--                                            </td>-->
<!--                                        </tr>-->
<!--                                    </table>-->
<!--                                </td>-->
<!--                            </tr>-->
                        </tbody>
                    </table>
                </td>
            </tr>
            
        </tbody>
    </table>
</body>
</html>