{% extends "screening/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    <!-- Search -->
<!--<div class="card mb-0 py-4 px-3 mb-3 search-wrapper" id="searchToggleWrapper">-->
<!--  <a class="search-toggler d-flex align-items-center px-0" href="javascript:void(0);">-->
<!--    <i class="ti ti-search ti-md me-2 me-lg-4 ti-lg"></i>-->
<!--    <span class="d-none d-md-inline-block text-muted fw-normal">Search (Ctrl+/)</span>-->
<!--  </a>-->
<!--</div>-->
<!-- Search Small Screens -->
<div class="card mb-5 d-flex justify-content-between align-items-center">
<!--  <i class="ti ti-search ti-md me-2 me-lg-4 ti-lg"></i>-->
    <input
    type="text"
    id="jobSearchInput"
    class="form-control border-0 py-4 px-3"
    placeholder="Search..."
    aria-label="Search..." />
<!--  <i class="ti ti-x search-toggler cursor-pointer"></i>-->
</div>
<!-- /Search -->
<div class="d-flex justify-content-between mb-4">

    <!-- "New Opening" Button aligned to the right -->
    <div>
        {% if has_perm %}
        <a href="{% url 'job-opening-create' %}" type="button" class="btn btn-outline-primary">
            <span class="ti-xs ti ti-plus me-2"></span>New Opening
        </a>
        {% endif %}
    </div>
    <!-- Job List Section -->
    <div class="d-flex align-items-center">
        <!-- Button Group for View Toggle -->
        <div class="btn-group" role="group" aria-label="View Toggle">
            <button class="btn btn-outline-primary rounded-3 shadow-sm me-1" id="gridViewButton">
                <i class="fas fa-th"></i> 
            </button>
            <button class="btn btn-outline-primary rounded-3 shadow-sm" id="listViewButton">
                <i class="ti ti-list"></i> 
            </button>
        </div>
    </div>
</div>

<!-- Filter Tabs -->
<ul class="nav nav-tabs mb-2" role="tablist">
  <li class="nav-item">
    <a class="nav-link {% if request.GET.status == 'active' %}active{% endif %}" href="?status=active">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.GET.status == 'closed' %}active{% endif %}" href="?status=closed">Closed</a>
  </li>
</ul>

<div class="row mt-1 mb-12 g-6" id="jobPostsContainer">
    {% if job_posts %}
        {% for jobs in job_posts %}
            <!-- Grid View Item (Visible in Grid) -->
            <div class="col-md-6 col-lg-4 grid-view-item" data-job-id="{{ jobs.id }}">
                <div class="card mb-6">
                    <div class="card-body">
                        <a href="{% url 'job-process' jobs.id %}">
                            <div class="d-flex justify-content-between w-100 flex-wrap">
                                <h5 class="card-title">{{ jobs.designation }}</h5>
                                <div>
                                    {% if jobs.is_expired %}
                                        <span class="badge bg-warning">Expired</span>
                                    {% else %}
                                        {% if jobs.active %}
                                            <span class="badge bg-primary">Active</span>
                                        {% else %}
                                            <span class="badge bg-danger">Closed</span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-subtitle mt-2 mb-4">
                                {% if jobs.client %}
                                    {{ jobs.client }}
                                {% else %}
                                    {{ jobs.company }}
                                {% endif %}
                            </div>
                            <p class="card-text">
                                Open Positions: {{ jobs.openings }}
                            </p>
                            <p class="card-text">
                                No. of Applicants: {{ jobs.candidate_set.count }}
                            </p>
                            {% for id, new_count in new_application_counts.items %}
                                {% if id == jobs.id and new_count > 0 %}
                                    <div class="alert alert-info" role="alert">{{ new_count }} New Application{% if new_count > 1 %}s{% endif %}</div>
                                {% endif %}
                            {% endfor %}
                        </a>
                        {% if not jobs.is_expired %}
                            <div class="bg-light border rounded p-2 mt-3">
                                <div class="d-flex align-items-center text-primary">
                                    <a href="{% url 'application_create' jobs.id %}" target="_blank" class="flex-grow-1 overflow-hidden text-wrap">Application Link</a>
                                    <button class="btn btn-link text-primary ml-2" data-url="{{ request.scheme }}://{{ request.get_host }}{% url 'application_create' jobs.id %}" title="Copy to clipboard">
                                        <i class="ti ti-copy"></i>
                                    </button>
                                </div>
                            </div>
                            {% if not request.user.employee.company.name == "JMS Advisory" %}
                                <div class="d-flex justify-content-end mt-1">
                                    <small class="text-muted">Expires in: {{ jobs.days_remaining }} days</small>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <!-- List View Item (Visible in List) -->
            <div class="col-12 list-view-item" data-job-id="{{ jobs.id }}" style="display: none;">
                <div class="card mb-3">
                    <div class="card-body">
                        <a href="{% url 'job-process' jobs.id %}">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title">{{ jobs.designation }}</h5>
                            <div>
                                {% if jobs.is_expired %}
                                    <span class="badge bg-warning">Expired</span>
                                {% else %}
                                    {% if jobs.active %}
                                        <span class="badge bg-primary">Active</span>
                                    {% else %}
                                        <span class="badge bg-danger">Closed</span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-subtitle mt-2 mb-4">
                            {% if jobs.client %}
                                {{ jobs.client }}
                            {% else %}
                                {{ jobs.company }}
                            {% endif %}
                        </div>
                        <p class="card-text">
                            Open Positions: {{ jobs.openings }}
                        </p>
                            <p class="card-text">
                                No. of Applicants: {{ jobs.candidate_set.count }}
                            </p>
                        {% for id, new_count in new_application_counts.items %}
                            {% if id == jobs.id and new_count > 0 %}
                                <div class="alert alert-info" role="alert">{{ new_count }} New Application{% if new_count > 1 %}s{% endif %}</div>
                            {% endif %}
                        {% endfor %}
                        </a>
                        {% if not jobs.is_expired %}
                            <div class="bg-light border rounded p-2 mt-3">
                                <div class="d-flex align-items-center text-primary">
                                    <a href="{% url 'application_create' jobs.id %}" target="_blank" class="flex-grow-1 overflow-hidden text-wrap">Application Link</a>
                                    <button class="btn btn-link text-primary ml-2" data-url="{{ request.scheme }}://{{ request.get_host }}{% url 'application_create' jobs.id %}" title="Copy to clipboard">
                                        <i class="ti ti-copy"></i>
                                    </button>
                                </div>
                            </div>
                            {% if not request.user.employee.company.name == "JMS Advisory" %}
                                <div class="d-flex justify-content-end mt-1">
                                    <small class="text-muted">Expires in: {{ jobs.days_remaining }} days</small>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>

        {% endfor %}
    {% elif no_job_posts %}
        <p>{{ no_job_posts }}</p>
    {% endif %}
    <div id="noResultsMessage" class="col-12 text-center mt-4" style="display: none;">
     <div class="alert alert-warning">No job openings found.</div>
    </div>

</div>

{% endblock content %}

{% block js %}
<script src="{% static 'dashboard/js/dashboard.js' %}"></script>
<script>
    // Toggle between grid and list views
    let currentView = 'grid'; // default
    document.getElementById('gridViewButton').addEventListener('click', function() {
        currentView = 'grid';
        document.querySelectorAll('.grid-view-item').forEach(function(item) {
            item.style.display = 'block';
        });
        document.querySelectorAll('.list-view-item').forEach(function(item) {
            item.style.display = 'none';
        });
    });

    document.getElementById('listViewButton').addEventListener('click', function() {
        currentView = 'list';
        document.querySelectorAll('.grid-view-item').forEach(function(item) {
            item.style.display = 'none';
        });
        document.querySelectorAll('.list-view-item').forEach(function(item) {
            item.style.display = 'block';
        });
    });

    $('#jobSearchInput').on('keyup', function () {
    let searchValue = $(this).val().toLowerCase().trim();
    let visibleCount = 0;

    if (currentView === 'grid') {
        $('.grid-view-item').each(function () {
            let designation = $(this).find('.card-title').text().toLowerCase();
            if (designation.includes(searchValue)) {
                $(this).show();
                visibleCount++;
            } else {
                $(this).hide();
            }
        });
    } else if (currentView === 'list') {
        $('.list-view-item').each(function () {
            let designation = $(this).find('.card-title').text().toLowerCase();
            if (designation.includes(searchValue)) {
                $(this).show();
                visibleCount++;
            } else {
                $(this).hide();
            }
        });
    }

    if (visibleCount === 0) {
        $('#noResultsMessage').show();
    } else {
        $('#noResultsMessage').hide();
    }
});
</script>
{% endblock js %}