{% extends "screening/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

{% if has_perm %}
<a href="{% url 'job-opening' %}" type="button" class="btn btn-outline-primary">
    <span class="ti-xs ti ti-plus me-2"></span>New Opening
</a>
<!-- <a href="{% url 'create-employee' %}" type="button" class="btn btn-outline-primary">
    <span class="ti-xs ti ti-plus me-2"></span>New Employee
</a> -->
<!-- <a href="{% url 'create-client' %}" type="button" class="btn btn-outline-primary">
    <span class="ti-xs ti ti-plus me-2"></span>New Client
</a> -->
{% endif %}

<div class="row mt-1 mb-12 g-6">
{% if job_posts %}
{% for jobs in job_posts %}

    <div class="col-md-6 col-lg-4">
        <div class="card mb-6">
            <div class="card-body">

                <a href="{% url 'job-process' jobs.id %}">
                    <div class="d-flex justify-content-between w-100 flex-wrap">
                        <h5 class="card-title">{{jobs.designation}}</h5>
                        <div>
                            {% if jobs.active %}
                              <span class="badge bg-primary ">Active</span>
                            {% else %}
                                <span class="badge bg-danger ">Closed</span>
                            {% endif %}
                        </div>
                    </div>
                  <div class="card-subtitle mt-2 mb-4">{{jobs.client}}</div>
                  <p class="card-text">
                      Open Positions : {{jobs.openings}}
                  </p>
                    <div class="alert alert-info" role="alert">New Applications</div>


<!--              <a href="javascript:void(0)" class="card-link">Card link</a>-->
<!--              <a href="javascript:void(0)" class="card-link">Another link</a>-->
                </a>
                                                      <!-- Display the URL attractively using Bootstrap classes -->
                  <div class="bg-light border rounded p-3 mt-3">
                      <div class="d-flex align-items-center text-primary">
                        <a href="{% url 'application_create' jobs.id %}" target="_blank" id="applicationCreateUrl{{jobs.id}}" class="flex-grow-1 overflow-hidden text-wrap">Application Link</a>

                      <button class="btn btn-link text-primary ml-2" data-url="{{ request.build_absolute_uri|slice:':-1' }}{% url 'application_create' jobs.id %}" id="copyButton" title="Copy to clipboard">
                            <i class="ti ti-copy"></i>
                        </button>
                    </div>
                  </div>
            </div>
        </div>
    </div>

{% endfor %}
    {% elif no_job_posts %}
        {{ no_job_posts }}
    {% endif %}
</div>

{% endblock content %}

{% block js %}
<script src="{% static 'dashboard/js/dashboard.js' %}"></script>
{% endblock js %}