<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Application Submitted Successfully</title>
</head>

<body style="font-family: 'Roboto', sans-serif; color: #333; margin: 0; padding: 20px; background-color: #f4f4f4;">
    <table align="center" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="center">
                <table cellpadding="0" cellspacing="0" width="600" style="background: linear-gradient(135deg, #74ebd5, #ACB6E5); border-radius: 20px; padding: 20px; box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); border: 2px solid #e0e0e0;">
                    <tr>
                        <td align="center">
                            <table cellpadding="0" cellspacing="0" width="100%">

                                <tr>
                                    <td align="center" style="font-size: 1.5rem; font-weight: 600; color: #3498db; padding-bottom: 20px;">
                                        Hi {{ candidate.name }}!
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="font-size: 1rem; color: #555; padding-bottom: 20px;">
                                        We have new job opening at {{ job_opening.company }} for <span style="color: #28a745; font-weight: 600;">{{ job_opening.designation }}</span>.
                                        Apply for this role if you're interested.
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="font-size: 1rem; color: #555; padding-bottom: 20px;">
                                        <p><span style="color: #444; font-weight: 600;">Required Skills : </span>{{ job_opening.required_skills }}</p>
                                        <p><span style="color: #444; font-weight: 600;">Minimum Experience : </span>{{ job_opening.min_experience }}</p>
                                        <p><span style="color: #444; font-weight: 600;">Maximum Experience : </span>{{ job_opening.max_experience }}</p>
                                        <p><span style="color: #444; font-weight: 600;">Education : </span>{{ job_opening.education }}</p>
                                        <p><span style="color: #444; font-weight: 600;">Job Type : </span>{{ job_opening.job_type }}</p>
                                        <p><span style="color: #444; font-weight: 600;">Work Mode : </span>{{ job_opening.job_mode }}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="font-size: 1rem; color: #555; padding-bottom: 20px;">
                                        <a href="http://{{ site_url }}/application-create/{{ job_opening.id }}">Apply Now</a>
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>
