{% extends "dashboard/theme.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'dashboard/vendor/libs/jkanban/jkanban.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/vendor/libs/select2/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/vendor/libs/flatpickr/flatpickr.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/vendor/libs/quill/typography.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/vendor/libs/quill/katex.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/vendor/libs/quill/editor.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/vendor/libs/bootstrap-select/bootstrap-select.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/vendor/libs/@form-validation/form-validation.css' %}" />

    <link rel="stylesheet" href="{% static 'dashboard/vendor/libs/pickr/pickr-themes.css' %}" />

    <!-- Page CSS -->

    <link rel="stylesheet" href="{% static 'dashboard/vendor/css/pages/app-kanban.css' %}" />
     
    <!-- Include Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

{% endblock css %}


{% block body %}

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">
                <div class="col-3">
                  <button type="button" onclick="window.history.back()" class="btn btn-outline-primary">
                    <span class="ti-xs ti ti-chevron-left me-2"></span>Back</button>
                </div>
                <div class="col-6">
                  <h4 class="text-primary d-inline-block me-2">{{ job_opening.designation }}</h4>
                  <span class="text-primary fs-6 d-inline-block">{{ job_opening.organization }}</span>
                </div>
                <div class="col-3 ms-auto">
                  <form id="deleteForm" method="post" enctype="multipart/form-data" action="{% url 'job-opening-delete' job_opening.id %}">
                      {% csrf_token %}
                      <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#basicModal">
                          <i class="ti ti-trash"></i>
                      </button>

                        <!-- Modal -->
                        <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel1">Delete Job Opening</h5>
                                <button
                                  type="button"
                                  class="btn-close"
                                  data-bs-dismiss="modal"
                                  aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <p>Are you sure you want to delete? You can instead close opening from Edit.</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                                  Close
                                </button>
                                <button type="submit" class="btn btn-danger">Delete</button>
                              </div>
                            </div>
                          </div>
                        </div>

                  </form>
                </div>
              </div>
            
              <div class="app-kanban">
                <!-- Add new board -->
                <div class="row">
                  <div class="col-12">
                    <form class="kanban-add-new-board" id="formAuthentication" enctype="multipart/form-data" method="post">
                      {% csrf_token %}
                      <label class="kanban-add-board-btn" for="kanban-add-board-input">
                        <i class="ti ti-plus"></i>
                        <span class="align-middle">Add new</span>
                      </label>
                      <input
                        type="text"
                        class="form-control w-px-250 kanban-add-board-input mb-4 d-none"
                        placeholder="Add Board Title"
                        id="kanban-add-board-input"
                        name="name"
                        required />
                      <div class="mb-4 kanban-add-board-input d-none">
                        <button class="btn btn-primary btn-sm me-4">Add</button>
                        <button type="submit" class="btn btn-label-secondary btn-sm kanban-add-board-cancel-btn">
                          Cancel
                        </button>
                      </div>
                    </form>
                  </div>
                </div>

                <!-- Kanban Wrapper -->
                <div class="kanban-wrapper {% if not active %}kanban-disabled{% endif %}">
                  {% if not active %}
                    <div class="fs-5 badge bg-label-danger">Closed</div>
                  {% endif %}
                </div>

                <!-- Edit Task/Task & Activities -->
                <div class="offcanvas offcanvas-end kanban-update-item-sidebar">
                  <div class="offcanvas-header border-bottom">
                    <h5 class="offcanvas-title">Edit Task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body pt-0">
                    <div class="nav-align-top">
                      <ul class="nav nav-tabs mb-5 rounded-0">
                        <li class="nav-item">
                          <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab-update">
                            <i class="ti ti-edit ti-18px me-1_5"></i>
                            <span class="align-middle">Edit</span>
                          </button>
                        </li>
<!--                        <li class="nav-item">-->
<!--                          <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-activity">-->
<!--                            <i class="ti ti-chart-pie-2 ti-18px me-1_5"></i>-->
<!--                            <span class="align-middle">Activity</span>-->
<!--                          </button>-->
<!--                        </li>-->
                      </ul>
                    </div>
                    <div class="tab-content p-0">
                      <!-- Update item/tasks -->
                      <div class="tab-pane fade show active" id="tab-update" role="tabpanel">
                        <form>
                          <div class="mb-5">
                            <label class="form-label" for="title">Title</label>
                            <input type="text" id="title" class="form-control" placeholder="Enter Title" />
                          </div>
                          <div class="mb-5">
                            <label class="form-label" for="contact">Contact</label>
                            <input type="text" id="contact" class="form-control" placeholder="Enter Contact" />
                          </div>
                          <div class="mb-5">
                            <label class="form-label" for="email">Email</label>
                            <input type="text" id="email" class="form-control" placeholder="Enter Email" />
                          </div>
                          <div class="mb-5">
                            <label class="form-label" for="label"> Label</label>
                            <select class="select2 select2-label form-select" id="label">
                              <option data-color="bg-label-success" value="UX">UX</option>
                              <option data-color="bg-label-warning" value="Images">Images</option>
                              <option data-color="bg-label-info" value="Info">Info</option>
                              <option data-color="bg-label-danger" value="Code Review">Code Review</option>
                              <option data-color="bg-label-secondary" value="App">App</option>
                              <option data-color="bg-label-primary" value="Charts & Maps">Charts & Maps</option>
                            </select>
                          </div>
                          <div class="mb-5">
                            <label class="form-label">Assigned</label>
                            <div class="assigned d-flex flex-wrap"></div>
                          </div>
                          <div class="mb-5">
                            <label class="form-label" for="attachments">Attachments</label>
                            <div>
                              <input type="file" class="form-control" id="attachments" />
                            </div>
                          </div>
                          <div class="mb-5">
                            <label class="form-label">FeedBack</label>
                            <div class="comment-editor border-bottom-0"></div>
                            <div class="d-flex justify-content-end">
                              <div class="comment-toolbar">
                                <span class="ql-formats me-0">
                                  <button class="ql-bold"></button>
                                  <button class="ql-italic"></button>
                                  <button class="ql-underline"></button>
                                  <button class="ql-link"></button>
                                  <button class="ql-image"></button>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div>
                            <div class="d-flex flex-wrap">
                              <button type="button" class="btn btn-primary me-4" data-bs-dismiss="offcanvas">
                                Update
                              </button>
                              <button type="button" class="btn btn-label-danger" data-bs-dismiss="offcanvas">
                                Delete
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                      <!-- Activities -->
<!--                      <div class="tab-pane fade text-heading" id="tab-activity" role="tabpanel">-->
<!--                        <div class="media mb-4 d-flex align-items-center">-->
<!--                          <div class="avatar me-3 flex-shrink-0">-->
<!--                            <span class="avatar-initial bg-label-success rounded-circle">HJ</span>-->
<!--                          </div>-->
<!--                          <div class="media-body">-->
<!--                            <p class="mb-0"><span>Jordan</span> Left the board.</p>-->
<!--                            <small class="text-muted">Today 11:00 AM</small>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="media mb-4 d-flex align-items-center">-->
<!--                          <div class="avatar me-3 flex-shrink-0">-->
<!--                            <img src="../../assets/img/avatars/6.png" alt="Avatar" class="rounded-circle" />-->
<!--                          </div>-->
<!--                          <div class="media-body">-->
<!--                            <p class="mb-0">-->
<!--                              <span>Dianna</span> mentioned <span class="text-primary">@bruce</span> in a comment.-->
<!--                            </p>-->
<!--                            <small class="text-muted">Today 10:20 AM</small>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="media mb-4 d-flex align-items-center">-->
<!--                          <div class="avatar me-3 flex-shrink-0">-->
<!--                            <img src="../../assets/img/avatars/2.png" alt="Avatar" class="rounded-circle" />-->
<!--                          </div>-->
<!--                          <div class="media-body">-->
<!--                            <p class="mb-0"><span>Martian</span> added moved Charts & Maps task to the done board.</p>-->
<!--                            <small class="text-muted">Today 10:00 AM</small>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="media mb-4 d-flex align-items-center">-->
<!--                          <div class="avatar me-3 flex-shrink-0">-->
<!--                            <img src="../../assets/img/avatars/1.png" alt="Avatar" class="rounded-circle" />-->
<!--                          </div>-->
<!--                          <div class="media-body">-->
<!--                            <p class="mb-0"><span>Barry</span> Commented on App review task.</p>-->
<!--                            <small class="text-muted">Today 8:32 AM</small>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="media mb-4 d-flex align-items-center">-->
<!--                          <div class="avatar me-3 flex-shrink-0">-->
<!--                            <span class="avatar-initial bg-label-dark rounded-circle">BW</span>-->
<!--                          </div>-->
<!--                          <div class="media-body">-->
<!--                            <p class="mb-0"><span>Bruce</span> was assigned task of code review.</p>-->
<!--                            <small class="text-muted">Today 8:30 PM</small>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="media mb-4 d-flex align-items-center">-->
<!--                          <div class="avatar me-3 flex-shrink-0">-->
<!--                            <span class="avatar-initial bg-label-danger rounded-circle">CK</span>-->
<!--                          </div>-->
<!--                          <div class="media-body">-->
<!--                            <p class="mb-0">-->
<!--                              <span>Clark</span> assigned task UX Research to-->
<!--                              <span class="text-primary">@martian</span>-->
<!--                            </p>-->
<!--                            <small class="text-muted">Today 8:00 AM</small>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="media mb-4 d-flex align-items-center">-->
<!--                          <div class="avatar me-3 flex-shrink-0">-->
<!--                            <img src="../../assets/img/avatars/4.png" alt="Avatar" class="rounded-circle" />-->
<!--                          </div>-->
<!--                          <div class="media-body">-->
<!--                            <p class="mb-0">-->
<!--                              <span>Ray</span> Added moved <span>Forms & Tables</span> task from in progress to done.-->
<!--                            </p>-->
<!--                            <small class="text-muted">Today 7:45 AM</small>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="media mb-4 d-flex align-items-center">-->
<!--                          <div class="avatar me-3 flex-shrink-0">-->
<!--                            <img src="../../assets/img/avatars/1.png" alt="Avatar" class="rounded-circle" />-->
<!--                          </div>-->
<!--                          <div class="media-body">-->
<!--                            <p class="mb-0"><span>Barry</span> Complete all the tasks assigned to him.</p>-->
<!--                            <small class="text-muted">Today 7:17 AM</small>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="media mb-4 d-flex align-items-center">-->
<!--                          <div class="avatar me-3 flex-shrink-0">-->
<!--                            <span class="avatar-initial bg-label-success rounded-circle">HJ</span>-->
<!--                          </div>-->
<!--                          <div class="media-body">-->
<!--                            <p class="mb-0"><span>Jordan</span> added task to update new img.</p>-->
<!--                            <small class="text-muted">Today 7:00 AM</small>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="media mb-4 d-flex align-items-center">-->
<!--                          <div class="avatar me-3 flex-shrink-0">-->
<!--                            <img src="../../assets/img/avatars/6.png" alt="Avatar" class="rounded-circle" />-->
<!--                          </div>-->
<!--                          <div class="media-body">-->
<!--                            <p class="mb-0">-->
<!--                              <span>Dianna</span> moved task <span>FAQ UX</span> from in progress to done board.-->
<!--                            </p>-->
<!--                            <small class="text-muted">Today 7:00 AM</small>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="media mb-4 d-flex align-items-center">-->
<!--                          <div class="avatar me-3 flex-shrink-0">-->
<!--                            <span class="avatar-initial bg-label-danger rounded-circle">CK</span>-->
<!--                          </div>-->
<!--                          <div class="media-body">-->
<!--                            <p class="mb-0"><span>Clark</span> added new board with name <span>Done</span>.</p>-->
<!--                            <small class="text-muted">Yesterday 3:00 PM</small>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="media d-flex align-items-center">-->
<!--                          <div class="avatar me-3 flex-shrink-0">-->
<!--                            <span class="avatar-initial bg-label-dark rounded-circle">BW</span>-->
<!--                          </div>-->
<!--                          <div class="media-body">-->
<!--                            <p class="mb-0"><span>Bruce</span> added new task in progress board.</p>-->
<!--                            <small class="text-muted">Yesterday 12:00 PM</small>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-1 mb-12">
                <div class="col-md-4 col-lg-3 {% if not active %}kanban-disabled{% endif %}">
                  <a href="#">
                      <div class="alert alert-info" role="alert">New Applications</div>
                  </a>
                  <a href="#">
                      <div class="alert alert-primary" role="alert">Assigned to :
                          {% for employee in job_opening.assignemployee.all %}
                          {{ employee }}
                          {% endfor %}</div>
                  </a>

                </div>
                
                <div class="col-md-6 col-lg-4">
                  <div class="card mb-6 shadow-sm" id="card-block">
                      <div class="card-header d-flex justify-content-between align-items-center">
                          <h5 class="mb-0">Job Details</h5>
                          <button onclick="window.location.href='{% url 'job-opening-update' job_opening.id %}'" class="btn btn-primary btn-sm">
                              <span class="ti-xs ti ti-pencil me-2"></span>Edit
                          </button>
                      </div>
                      <div class="card-body p-4">
                          <!-- Job Information Section -->
                          <div class="border rounded p-3">
                              {% if job_description_file %}
                                  <p><strong>Job Description:</strong> 
                                      <a href="{{ job_description_file.url }}" target="_blank" class="btn btn-outline-primary btn-sm">{{ job_description_file.url }}</a>
                                  </p>
                              {% elif job_description_text %}
                                  <p><strong>Job Description:</strong> {{ job_description_text }}</p>
                              {% else %}
                                  <p><strong>Job Description:</strong> Not provided</p>
                              {% endif %}
                              <p><strong>Job Type:</strong> {{ job_type }}</p>
                              <p><strong>Job Mode:</strong> {{ job_mode }}</p>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 {% if not active %}kanban-disabled{% endif %}">
                  <div class="card mb-6 shadow-sm">
                      <h5 class="card-header d-flex justify-content-between align-items-center">
                          Required Skills
                      </h5>
                      <div class="card-body p-4">
                          <!-- Skills Information Section -->
                          <div class="p-3 border rounded border-light">
                              {% if s_skills %}
                                  <p>{{ s_skills }}</p>
                              {% else %}
                                  <p>No skills specified.</p>
                              {% endif %}
                          </div>
                      </div>
                  </div>
              </div>
              </div>
            </div>
          </div>
            <!-- / Content -->

{% endblock body %}

{% block js %}
    <!-- Vendors JS -->
    <script src="{% static 'dashboard/vendor/libs/moment/moment.js' %}"></script>
    <script src="{% static 'dashboard/vendor/libs/flatpickr/flatpickr.js' %}"></script>
    <script src="{% static 'dashboard/js/forms-selects.js' %}"></script>
    <script src="{% static 'dashboard/vendor/libs/select2/select2.js' %}"></script>
    <script src="{% static 'dashboard/vendor/libs/jkanban/jkanban.js' %}"></script>
    <script src="{% static 'dashboard/vendor/libs/quill/katex.js' %}"></script>
    <script src="{% static 'dashboard/vendor/libs/quill/quill.js' %}"></script>
    <script src="{% static 'dashboard/vendor/libs/bootstrap-select/bootstrap-select.js' %}"></script>
    <script src="{% static 'dashboard/vendor/libs/@form-validation/bootstrap5.js' %}"></script>
    <script src="{% static 'dashboard/vendor/libs/bloodhound/bloodhound.js' %}"></script>
    <script src="{% static 'dashboard/vendor/libs/pickr/pickr.js' %}"></script>




    <!-- Page JS -->
    <script src="{% static 'dashboard/js/app-kanban.js' %}" data-jobopeningid="{{ job_opening.id }}"></script>

<!--    <script src="{% static 'dashboard/vendor/libs/select2/select2.js' %}"></script>-->
<!--    <script src="{% static 'dashboard/js/forms-selects.js' %}"></script>-->


{% endblock js %}
