{% extends "dashboard/theme.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'dashboard/vendor/libs/select2/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/vendor/libs/@form-validation/form-validation.css' %}" />
    <link rel="stylesheet" href="{% static 'dashboard/vendor/libs/dropzone/dropzone.css' %}" />


{% endblock css %}

{% block body %}

<div class="content-wrapper">
            <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="card mb-6">
      <h5 class="card-header">New Employee</h5>
      <form class="card-body" id="formAuthentication" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="row g-6">
<!--            {{ form|crispy }}-->
            {% if form.errors %}

                {% for field, errors in form.errors.items %}
                      {% for error in errors %}
                          <div class="error-message text-danger">{{ error }}</div>
                      {% endfor %}
                  {% endfor %}

            {% endif %}

                <div id="div_id_email" class="form-group">
                    <label for="id_email" class="">
                        Email address
                    </label>
                    <div>
                        <input type="email" name="email" maxlength="254" class="emailinput form-control" id="id_email" required>
                    </div>
                </div>
                <div id="div_id_groups" class="form-group">
                    <label for="id_groups" class="">
                        Groups
                    </label>
                <div>
                    <select name="groups" class="selectmultiple select2 form-select form-control" required aria-describedby="id_groups_helptext" id="id_groups" multiple="">
                        <option value="1">admin</option>
                        <option value="2">manager</option>
                        <option value="3">recruiter</option>

                    </select>
                    <small id="hint_id_groups" class="form-text text-muted">
                        The groups this user belongs to. A user will get all permissions granted to each of their groups.
                    </small>
                </div>
            </div>

            <div class="pt-6 mt-0">
              <button type="submit" class="btn btn-primary me-4 waves-effect waves-light">Submit</button>
            </div>

        </div>
      </form>
    </div>
  </div>
</div>



{% endblock body %}


{% block js %}

    <script src="{% static 'dashboard/vendor/libs/select2/select2.js' %}"></script>
    <script src="{% static 'dashboard/js/forms-selects.js' %}"></script>
    <script src="{% static 'dashboard/vendor/libs/@form-validation/popular.js' %}"></script>
    <script src="{% static 'dashboard/vendor/libs/@form-validation/bootstrap5.js' %}"></script>
    <script src="{% static 'dashboard/vendor/libs/@form-validation/auto-focus.js' %}"></script>
<!--    <script src="{% static 'dashboard/vendor/libs/dropzone/dropzone.js' %}"></script>-->
    <script src="{% static 'dashboard/js/forms-file-upload.js' %}"></script>
    <script src="{% static 'dashboard/js/job_opening_create.js' %}"></script>



{% endblock js %}